{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}
{% block content %}
    <!-- CONTENT -->
    <form method="post" class="form-horizontal">
        <input type="hidden" id="other_stocks_visible" value="{{ other_stocks_visible }}">
        <div class="row">
            <div class="col-12 col-md-4">
                <h2 class="page-title">{{ list_title }}</h2>
            </div>
            <div class="col-12 col-md-8 text-right">
                <div class="row">
                    {% if other_stocks_visible == 'yes' %}
                        <div class="col text-right">
                            {{ form_tools.group_select_v2_no_default('POS Location', 'pos_loc_id', wh_opts, pos_id, 3, 2, false) }}
                        </div>
                    {% endif %}

                    <div class="col text-right">
                        {{ form_tools.group_select_v2_no_default('Inventory Type', 'inv_type', inv_type_opts, inv_type, 3, 2) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive table-v1">
                    <table id="table--submitted_counting" class="table table-bordered" data-data-table="true" style="width:100%">
                        <thead>
                        <tr>
                            <th style="width: 20%">Item Code</th>
                            <th style="width: 60%">Item Name</th>
                            <th style="width: 20%">Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in stocks|default('') %}
                            <tr>
                                <td>{{ s.item_code }}</td>
                                <td>{{ s.item_name }}</td>
                                <td>{{ s.quantity|default('0') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
    <!-- END CONTENT -->
{% endblock %}
{% block js %}
    <script>
        jQuery(document).ready(function($) {
            $('.table-v1 table[data-data-table=true]').DataTable({
                "bProcessing": true,
                "bServerSide": false,
                // "sAjaxSource": path,
                "iDisplayLength": 10,
                "bInfo": false,
                'searching': false,
                // "bSort" : false,
                // "bLengthChange": false,
                // "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "<span class=\"prev-icon\"><i class=\"fas fa-chevron-left\"></i></span>",
                        "sNext": "<span class=\"next-icon\"><i class=\"fas fa-chevron-right\"></i></span>"
                    }
                },
                "aaSorting": [[0,'desc']]
            });

            var html = '<button type="submit" class="btn btn-primary btn-v1" form="form--counting" value="Submit">Submit</button>'
            $('table-v1').each(function () {
                if ($(this).data(has_submit) != true) {
                    return true;
                }

                $(this).find('.btn-container').html(html);
            });

            $('#cform-inv_type').live('change', function(){
                path = generatePath();
                location.replace(path);
            });

            $('#cform-pos_loc_id').live('change', function(){
                path = generatePath();
                location.replace(path);
            });
        });

        function generatePath() {
            var other_stocks_visible = $('#other_stocks_visible').val();
            var inv_type = $('#cform-inv_type').val();

            if (other_stocks_visible == 'yes') {
                var pos_loc_id = $('#cform-pos_loc_id').val();
                var path = "{{ path('gist_inv_existing_stock_index', {
                    'inv_type' : 'INV_TYPE',
                    'pos_loc_id' : 'POS_LOC_ID',
                }
                ) }}";

                path = path.replace('INV_TYPE', inv_type);
                path = path.replace('POS_LOC_ID', pos_loc_id);
            } else {
                var path = "{{ path('gist_inv_existing_stock_index', {
                    'inv_type' : 'INV_TYPE',
                }
                ) }}";

                path = path.replace('INV_TYPE', inv_type);
            }
            return path;
        }
    </script>
{% endblock %}