{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}
{% block content %}
<!-- SYS VARS -->
<input type="hidden" id="url_pos" value="{{sys_pos_url}}">
<input type="hidden" id="url_erp" value="{{sys_erp_url}}">
<!-- CART VARS -->
<input type="hidden" id="float_cart_minimum_total" value="0">
<input type="hidden" id="float_cart_orig_price" value="0">
<input type="hidden" id="float_cart_new_price" value="0">
<!-- END CART VARS -->
<!-- TRANSACTION VARS -->
<input type="hidden" id="string_consultant_id" value="{{ app.user.getERPID|default('0') }}">
<input type="hidden" id="float_trans_amount" name="float_trans_amount" value="0">
<input type="hidden" id="float_trans_deposit_amount" name="float_trans_deposit_amount" value="0">
<input type="hidden" id="float_trans_balance" name="transaction_balance" value="{{transaction_object.getBalance|default(0)}}">
<input type="hidden" id="float_trans_ea" name="transaction_balance" value="0">
<input type="hidden" id="string_trans_type" value="{{transaction_object.getTransactionType|default('none')}}">
<input type="hidden" id="string_trans_main_type" value="Normal">
<input type="hidden" id="string_trans_bulk_type" value="none">
<input type="hidden" id="string_trans_mode" value="{{transaction_object.getTransactionMode|default('normal')}}">
<input type="hidden" id="string_trans_cc_interest" value="true">
<input type="hidden" id="transaction_customer_id" name="transaction_customer_id" value="0">
<input type="hidden" id="transaction_customer_display_id" name="transaction_customer_display_id" value="0">
<input type="hidden" id="transaction_customer_name" name="transaction_customer_name" value="null">
<input type="hidden" id="transaction_system_id" name="transaction_system_id" value="{{next_sys_id|default(0)}}">
<input type="hidden" id="transaction_display_id" name="transaction_display_id" value="{{next_id|default(0)}}">
<input type="hidden" id="transaction_status" name="transaction_status" value="{{status|default('null')}}">
<!-- END TRANSACTION VARS -->
<!-- TAX VARS -->
<input type="hidden" id="float_tax_rate" value="{{tax_rate|default('0')}}">
<input type="hidden" id="float_orig_tax_vat_amt" value="0">
<input type="hidden" id="float_new_tax_vat_amt" value="0">
<input type="hidden" id="float_orig_tax_amt_net_vat" value="0">
<input type="hidden" id="float_new_tax_amt_net_vat" value="0">
<input type="hidden" id="string_tax_coverage" value="{{tax_coverage|default('none')}}">
<input type="hidden" id="float_orig_excl_total" value="0">
<input type="hidden" id="float_new_excl_total" value="0">

<input type="hidden" id="float_deposit_tax_vat_amt" value="0">
<input type="hidden" id="float_balance_tax_vat_amt" value="0">
<input type="hidden" id="float_deposit_tax_amt_net_vat" value="0">
<input type="hidden" id="float_balance_tax_amt_net_vat" value="0">
<!-- END TAX VARS -->
<!-- OLD VARS -->
<input type="hidden" id="session_vat" name="session_vat" value="0">
<input type="hidden" id="cart_min_price" name="cart_min_price" value="0">
<input type="hidden" id="cart_int_price" name="cart_int_price" value="0">
<input type="hidden" id="float_cart_orig_price" name="float_cart_orig_price" value="0">
<input type="hidden" id="transaction_amt_to_pay" name="transaction_amt_to_pay" value="0">
<input type="hidden" id="transaction_balance" name="transaction_balance" value="0">
<input type="hidden" id="reg_trans_flag" name="reg_trans_flag" value="0">
<input type="hidden" id="bulk_opt_sel" name="bulk_opt_sel" value="">
<input type="hidden" id="tax_coverage" name="tax_coverage" value="{{tax_coverage|default('none')}}">
<!-- END OLD VARS -->
<div class="page-content">
    <br>
    <div class="row" style="margin-right: 0px !important;">
        <div class="col-md-2" style="padding-right: 1px !important; border: 0px !important;">
        	<div class="portlet box " style="background-color: #292929 !important;border: 0px !important;">
                <div class="portlet-title">
                    <div class="caption">Product Categories</div>
                </div>
                <div class="portlet-body form" id="prod_cats" style="height: 400px; overflow:scroll;overflow-x: hidden;">
                	
                </div>
                <div style="background-color: #ffffff !important;">
                &nbsp;&nbsp;
                
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="portlet box" style="background-color: #292929 !important;border: 0px !important;"> 
                <div class="portlet-title">
                    <div class="caption">Products</div>
                </div>
                <div class="portlet-body">
                    <br>
                    <div  style="height: 410px;overflow:scroll; overflow-x: hidden;">
                        <div class="row" id="prods">
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet box" style="background-color: #292929 !important;border: 0px !important;"> 
                <div class="portlet-title">
                    <div class="caption">Cart</div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="overflow:scroll; overflow-x: hidden; height: 240px;">
                                <table class="table table-striped table-bordered table-hover" style="margin-top: 10px;" id="cart_table">
                                    <thead>
                                        <tr>
                                            <th width="60%">Item</th>
                                            <th width="25%">Price</th>
                                            <th width="10%"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="cart_items">
                                        {% if transaction_object.hasItems|default(false) %}
                                            {% for item in transaction_object.getItems|default(null) %}
                                                <tr class="product_row existing"> 
                                                    <input type="hidden" name="product_id[]" class="product_id" value="" >
                                                    <input type="hidden" name="barcode[]" class="barcode" value="" >
                                                    <input type="hidden" name="item_code[]" class="item_code" value="" >
                                                    <input type="hidden" name="min_price[]" class="min_price" value="{{item.getMinimumPrice}}" >
                                                    <input type="hidden" name="srp[]" class="srp" value="{{item.getOrigPrice}}" >
                                                    <input type="hidden" name="product_amt[]" class="product_amt" value="{{item.getOrigPrice}}" >
                                                    <td><input type="text" style="font-size: 10px !important;" value="{{item.getName}}" readonly="true" class="form-control item_name"></td>
                                                    <td><input type="text" style="font-size: 10px !important;" name="display_price[]" class="form-control display_price" readonly="true" value="{{item.getOrigPrice}}"></td>  
                                                    <td ><a href="javascript:void(0)" class="btn btn-xs default red remove_row"><i class="fa fa-times" aria-hidden="true"></i></a></td> 
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr class="init_row_prods">
                                                <td colspan="3" class="xrow"><p>No items added</p></td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12" >
                                    <a href="javascript:void(0)" class="btn next_step_btn" style="background-color: #556E93; color: #ffffff;">Next Step</a>
                                    <a href="javascript:void(0)" class="btn bulk_adj" style="background-color: #556E93; color: #ffffff;">Bulk Discount</a>
                                    <a href="javascript:void(0)" class="btn checkout_btn" style="background-color: green; color: #ffffff;">Checkout</a>
                                    <a href="javascript:void(0)" class="btn proceed_deposit" style="background-color: green; color: #ffffff;">Proceed Deposit</a>
                                    <a href="javascript:void(0)" class="btn clear_discount" style="background-color: orange; color: #ffffff;">Reset Transaction Type</a>
                                    <a href="" class="btn" style="background-color: red; color: #ffffff;">Clear Cart</a>
                                    <br>
                                    <br>
                                    <h4 class="bulk_discount_h4">Bulk Discount: <b><span id="applied_bulk_discount" value="">None</span></b></h4>
                                    <h4 class="savings_h4">You saved: <b>Php <span id="customer_savings" value="">0.00</span></b></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped table-bordered table-hover" style="" id="cart_totals_table">
                                        <thead>
                                            <tr>
                                                <th width="40%" style="font-size: 12px;">Amount</th>
                                                <th width="30%" style="font-size: 12px;">Amt Net of VAT</th>
                                                <th width="30%" style="font-size: 12px;">VAT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="initial_totals">
                                                <td><p style="font-size:12px;" class="cart_price_h3">Total <b>Php <span class="initial_cart_price" value="0">0</span></b></p></td>
                                                <td><p style="font-size:12px;" class="new_amt_vat"><b>Php <span id="initial_amt_net_vat" value="0">0</span></b></p></td>
                                                <td><p style="font-size:12px;" class="new_vat"><b>Php <span id="initial_vat_amt" value="0">0</span></b></p></td>
                                            </tr>
                                            <tr class="updated_totals_row">
                                                <td><p style="font-size:12px;" class="updated_price_h3">Updated <b>Php <span class="updated_cart_price" value="0">0</span></b></p></td>
                                                <td><p style="font-size:12px;" class="updated_amt_vat"><b>Php <span id="updated_amt_net_vat" value="0">0</span></b></p></td>
                                                <td><p style="font-size:12px;" class="updated_vat"><b>Php <span id="updated_vat_amt" value="0">0</span></b></p></td>
                                            </tr>
                                            <tr class="deposit_amount_totals_row">
                                                <td><p style="font-size:12px;" class="deposit_amount_h3">Deposit <b>Php <span class="totals_deposit_amt" value="0">0</span></b></p></td>
                                                <td><p style="font-size:12px;" class="deposit_amt_vat"><b>Php <span id="deposit_amt_net_vat" value="0">0</span></b></p></td>
                                                <td><p style="font-size:12px;" class="deposit_vat"><b>Php <span id="deposit_vat_amt" value="0">0</span></b></p></td>
                                            </tr>
                                            <tr class="balance_totals_row">
                                                <td><p style="font-size:12px;" class="balance_amount_h3">Balance <b>Php <span class="totals_balance" value="0">0</span></b></p></td>
                                                <td><p style="font-size:12px;" class="balance_amt_vat"><b>Php <span id="balance_amt_net_vat" value="0">0</span></b></p></td>
                                                <td><p style="font-size:12px;" class="balance_vat"><b>Php <span id="balance_vat_amt" value="0">0</span></b></p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'GistPOSBundle:Dashboard:modals.html.twig' %}

    


{% endblock %}
{% block js %}
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/gist_pos/pos.main.js') }}"></script>
<script type="text/javascript">
function finalModalAction(opt)
{
    if (opt == 'save') {
        $('#final_modal').modal('hide');
        freezeTransaction(true);
    } else {
        freezeTransaction(true);
        setTimeout(
          function() 
          {
            var url = '{{ path("gist_pos_print_receipt", {'id': 'id'})|escape('js') }}'; 
            url = url.replace("id", $('#transaction_system_id').val());
            var win = window.open(url, '_blank');
            if (win) {
                //Browser has allowed it to be opened
                win.focus();
            } else {
                //Browser has blocked it
                alert('Receipt pop-up blocked. Please allow.');
            }
          }, 3000);
    }
}

function syncToERP()
{
    var route = "{{ path('gist_main_sync_pos_data')|escape('js') }}";
    $.getJSON(route, function(json){  
       $.each(json, function(i, x) {
            swal({
              title: "POS Data Synced!",
              text: "",
              type: "success",
              confirmButtonColor: "green",
              confirmButtonText: "Okay",
            },
            function(){
                location.reload();
                
            });
        });
    });
}



function appendPerItemColumns()
{
    $('#cart_table').find('tr').each(function(){
        $(this).find('th').eq(1).after('<th>Discount Type</th>');
    });

    $('#cart_table').find('tr').each(function(){
        $(this).find('th').eq(2).after('<th>Value</th>');
    });

    $('#cart_table').find('tr').each(function(){
        $(this).find('th').eq(3).after('<th>Adjusted Price</th>');
    });
    var ths = $('th');
    var element = ths.eq(0);
    element.width(100);
    var element2 = ths.eq(1);
    element2.width(70);
    var element2 = ths.eq(2);
    element2.width(80);
    var element2 = ths.eq(3);
    element2.width(70);
    var element2 = ths.eq(4);
    element2.width(70);
}

function appendPerItemFields()
{
    if ($('#string_trans_type').val() == "per") {
        $('#cart_table').find('tr').each(function(){
            if ($(this).children('td').length < 6) {
                $(this).find('td').eq(1).after("<td style=\"font-size: 10px !important;\">\
                    {{ form.group_select_only3('Type', 'indiv_disc_opt', indiv_options, '', 12, 12, false)|e('js') }}</td>");
                $(this).find('td').eq(2).after("<td style=\"font-size: 10px !important;\">\
                    <input type=\"number\" step=\"0.01\" style=\"font-size: 10px !important;\" class=\"form-control per_item_discount_amt\" readonly=\"true\" value=\"\"></td>");
                $(this).find('td').eq(3).after('<td><input type="text" style=\"font-size: 10px !important;\" class="form-control adjusted_price" readonly="true" value="0.00"></td>');

                var srp = $(this).find('.srp').val();
                var ap = $(this).find('.adjusted_price');
                ap.val(srp);
                //computeCart();
            }
        });
    }
}

function appendDepositItemColumns()
{
    $('#cart_table').find('tr').each(function(){
        $(this).find('th').eq(0).before('<th>Issue</th>');
    });

    var ths = $('th');
    var element = ths.eq(0);
    element.width(10);
}

function appendDepositItemFields()
{
    
    $('#cart_table').find('tr').each(function(){
        if ($(this).children('td').length < 4) {
            $(this).find('td').eq(0).before("<td style=\"font-size: 10px !important;\">{{ form.checkbox_issued_item('check_issued', 0, 'Post dated check', '', '')|e('js')}}</td>");
        }
    });
    
}

    

$(document).ready(function(){ 

    //for loading transactions/unfreeze/continue
    var hasItems = "{{transaction_object.hasItems|default(false)}}";
    var payment_total = parseFloat("{{transaction_object.getTotalPayments|default(0.00)}}");
    var trans_type = $('#string_trans_type').val();
    var trans_mode = $('#string_trans_mode').val();
    var balance = $('#float_trans_balance').val();
    if (hasItems == true) {
        computeCartRaw();
        computeCartMinimum();
        computeBalance();
        if (trans_type == 'per') {
            $('#string_trans_type').val('per');
            $('.next_step_btn').hide();
            $('.savings_h4').show();
            $('.checkout_btn').show();
            appendPerItemColumns();
            appendPerItemFields();
            $('#transaction_type_modal').modal('hide');
            $('.updated_totals_row').show();
            $('.clear_discount').show();
            
            computeCartIndiv();
            computeVATIndiv();
        }

        if (trans_mode == 'Deposit') {
            $('.deposit_amount_totals_row').show();
            $('.balance_totals_row').show();
            appendDepositItemColumns();
            appendDepositItemFields();
            computeVATDeposit(payment_total);
            computeVATBalance(parseFloat(balance));
            $('#float_trans_deposit_amount').val(payment_total);
            $('#string_trans_mode').val('Deposit');
            $('.checkout_btn').show();
            $('.proceed_deposit').show();
            $('.next_step_btn').hide();
        }

        
    }

    $(document).on("click",".check_issued", function(e){
        var deposit_amount = parseFloat($('#float_trans_deposit_amount').val());
        var selected_min_total = 0;
        $('.check_issued:checkbox:checked').each(function() {
            var row = $(this).closest('.product_row');
            var min_price = row.find('.min_price')
            min_price = min_price.val();
            selected_min_total += parseFloat(min_price);
        });

        if($(this).is(':checked')) {
            if (selected_min_total > deposit_amount) {
                $(this).prop('checked', false); 
                $(this).removeAttr('checked');
                swal('Cannot issue item!','','error');
            }
        }
    });
});
</script>
{% endblock %}