{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}
{% block content %}
<div class="page-content">

        <br>
    <div class="row" style="margin-right: 0px !important;">
        <div class="col-md-2" style="padding-right: 1px !important; border: 0px !important;">
        	<div class="portlet box blue-hoki" style="background-color: #2D2D2D;border: 0px !important;">
                <div class="portlet-title">
                    <div class="caption">Product Categories</div>
                </div>
                <div class="portlet-body form" id="prod_cats" style="height: 440px; overflow:scroll;overflow-x: hidden;">
                	
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding-right: 1px !important; padding-left: 5px !important;">
        	<div class="portlet box blue-hoki" style="background-color: #2D2D2D;border: 0px !important;">
                <div class="portlet-title">
                    <div class="caption">Products <span id="selected_pcat"></span></div>
                </div>
                <div class="portlet-body form">
                	<br>
                    <div  style="height: 440px;overflow:scroll; overflow-x: hidden;">
                	<div class="row" id="prods">
                		
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-left: 1px !important; padding-right: 0px !important;">
        	<div class="portlet box blue-hoki" style="background-color: #ffffff;border: 0px !important;">
                <div class="portlet-title">
                    <div class="caption">Cart</div>
                </div>
                <div class="portlet-body form">
                <div style="overflow:scroll; overflow-x: hidden; height: 315px;">
                <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;" id="cart_table">
                    <thead>
                        <tr>
                            <th width="60%">Item</th>
                            <th width="25%">Price</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody id="cart_items">

                    </tbody>
                </table>
                </div>
                <h4 class="bulk_discount_h4">Bulk Discount: <b><span id="applied_bulk_discount" value="">None</span></b></h4>
                <div class="row">
                {{ form.group_text('Approval Code', 'app_code', '', 4, 2, false) }}
                </div>
                <br>
                <a href="javascript:void(0)" class="btn next_step_btn" style="background-color: #556E93; color: #ffffff;">Next Step</a>
                <a href="javascript:void(0)" class="btn bulk_adj" style="background-color: #556E93; color: #ffffff;">Bulk Discount</a>
                <a href="javascript:void(0)" class="btn checkout_btn" style="background-color: green; color: #ffffff;">Checkout</a>
                <a href="javascript:void(0)" class="btn clear_discount" style="background-color: orange; color: #ffffff;">Clear Discount</a>
                <a href="" class="btn" style="background-color: red; color: #ffffff;">Clear Cart</a>

                <input type="hidden" id="session_vat" name="session_vat" value="0">
                <input type="hidden" id="cart_min_price" name="cart_min_price" value="0">
                <input type="hidden" id="cart_int_price" name="cart_int_price" value="0">
                <input type="hidden" id="cart_int_orig_price" name="cart_int_price" value="0">
                <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;" id="cart_totals_table">
                    <thead>
                        <tr>
                            <th width="40%"></th>
                            <th width="30%">Amount Net of VAT</th>
                            <th width="30%">VAT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="orig_totals_row">
                            <td><p style="font-size:16px;" class="orig_price_h3">Original Total: <b>Php <span id="cart_orig_price" value="0">0</p></b></p></td>
                            <td><p style="font-size:16px;" class="orig_amt_vat"><b>Php <span id="cart_orig_amt_vat" value="0">0</p></b></p></td>
                            <td><p style="font-size:16px;" class="orig_vat"><b>Php <span id="cart_orig_vat" value="0">0</p></b></p></td>
                        </tr>
                        <tr class="new_total_row">
                            <td><p style="font-size:16px;" class="cart_price_h3">Total: <b>Php <span id="cart_price" value="0">0</span></b></p></td>
                            <td><p style="font-size:16px;" class="new_amt_vat"><b>Php <span id="cart_new_amt_vat" value="0">0</p></b></p></td>
                            <td><p style="font-size:16px;" class="new_vat"><b>Php <span id="cart_new_vat" value="0">0</p></b></p></td>
                        </tr>
                    </tbody>
                </table>  
                </div>
            </div>
        </div>
    </div>

    <div id="bulk_adjustment" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-header">
                        <a type="button" class="close" data-dismiss="modal" aria-hidden="true"></a>
                        <h4 id="form_title" class="modal-title">Bulk Adjustment Form</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            {{ form.group_select('Option', 'bulk_adj', bulk_options, '', 3, 4, false) }}
                            {{ form.group_text('New Price', 'new_total', '', 3, 4, false) }}
                            {{ form.group_text('Discount Amount', 'discount_amount', '', 3, 4, false) }}
                            {{ form.group_text('Discount %', 'discount_pct', '', 3, 4, false) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn default green apply_bulk" data-dismiss="modal" style="margin=0" href="javascript:void(0)">Apply</a>
                        <button type="button" data-dismiss="modal" class="btn default" data-toggle="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="transaction_type_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-header">
                        <a type="button" class="close" data-dismiss="modal" aria-hidden="true"></a>
                        <h4 id="form_title" class="modal-title">Select Transaction Type</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            {{ form.group_select('Type', 'trans_opts', trans_options, '', 3, 4, false) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn default green proceed_btn" style="margin=0" href="javascript:void(0)">Proceed</a>
                        <button type="button" data-dismiss="modal" class="btn default" data-toggle="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
function hideItemAdjustment()
{
    $('.indiv_adj').each(function() {
        $(this).hide();
    });
}
function showItemAdjustment()
{
    $('.indiv_adj').each(function() {
        $(this).show();
    });
}
function addToCart(product_name, srp, min_price, id)
{
    //id = erp product id
    var row_id = Math.round(new Date().getTime() + (Math.random() * 100));
    var field = '<tr class=\"row_prod_'+row_id+'\">';     
        field += '<input type=\"hidden\" name=\"product_id[]\" class=\"product_id\" value=\"'+row_id+'\" >';
        field += '<input type=\"hidden\" name=\"min_price[]\" class=\"min_price\" value=\"'+min_price+'\" >';
        field += '<input type=\"hidden\" name=\"srp[]\" class=\"srp\" value=\"'+srp+'\" >';
        field += '<input type=\"hidden\" name=\"product_amt[]\" class=\"product_amt\" value=\"'+srp+'\" >';
        field += '<td><input type="text" style=\"font-size: 10px !important;\" value="'+product_name+'" readonly="true" class="form-control item_name"></td>';
        field += '<td><input type="text" style=\"font-size: 10px !important;\" name="display_price[]" class="form-control display_price" readonly="true" value="'+srp+'"></td>';  
        field += '<td ><a href="javascript:void(0)" class="btn btn-xs default red remove_row"><i class="fa fa-times" aria-hidden="true"></i></a><a href="javascript:void(0)" class="btn btn-xs default green indiv_adj"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>'; 
        field += '</tr>';

        $('#cart_items').prepend(field);
        hideItemAdjustment();
        
        if($('.checkout_btn').is(':visible') && $('.bulk_adj').is(':hidden')) {
            appendPerItemFields();
        } else {
            computeCart();
        }
        
        computeCartMinimum();
}
function computeCart()
{
    // alert('computeCart');
    var total = 0;
    var new_total = 0;
    var vat = parseInt($('#session_vat').val())/100;
    $('.display_price').each(function(){
        total = total + parseInt($(this).val());
    });

    $('.adjusted_price').each(function(){
        new_total = new_total + parseInt($(this).val());
    });

    $("#cart_orig_price").text(addCommas(total.toString()));
    $('#cart_int_orig_price').val(total);

    if ($('.checkout_btn').is(':visible') && $('.bulk_adj').is(':hidden')) {
        $('#cart_int_price').val(new_total);
        $("#cart_price").text(addCommas(new_total.toString()));

        
        var amt_net_of_vat = (new_total / (1.12)).toFixed(2);
        var vat_amt = (amt_net_of_vat * vat).toFixed(2);
        $("#cart_new_amt_vat").text(addCommas(amt_net_of_vat.toString()));
        $("#cart_new_vat").text(addCommas(vat_amt.toString()));
    } else {
        if($('.bulk_adj').is(':hidden')) {
            $('#cart_int_price').val(total);
            $("#cart_price").text(addCommas(total.toString()));
            
            var amt_net_of_vat = (total / (1.12)).toFixed(2);
            var vat_amt = (amt_net_of_vat * vat).toFixed(2);
            $("#cart_new_amt_vat").text(addCommas(amt_net_of_vat.toString()));
            $("#cart_new_vat").text(addCommas(vat_amt.toString()));
        } else {
            applyBulkAdjustment();
           
        }
        
    }


    var amt_net_of_vat = (total / (1.12)).toFixed(2);
    var vat_amt = (amt_net_of_vat * vat).toFixed(2);
    // alert(vat_amt);
    $("#cart_orig_amt_vat").text(addCommas(amt_net_of_vat.toString()));
    $("#cart_orig_vat").text(addCommas(vat_amt.toString()));
    
    
    console.log('Sell Price:'+total);
}

function computeCartMinimum()
{
    var total = 0;
    $('.min_price').each(function(){
        total = total + parseInt($(this).val());
    });

    $("#cart_min_price").val(addCommas(total.toString()));
    console.log('Min Price:'+total);

    if (total > $('#cart_int_price').val()) {
        $('#cgroup-app_code').show();
        $('.cart_price_h3').css({'color': 'red'});
    } else {
        $('#cgroup-app_code').hide();
        $('.cart_price_h3').css({'color': 'black'});
    }
}
function ajaxGetProductCategories()
{
    $( "#prod_cats" ).empty();
    $( "#prods" ).empty();
    $("#prod_cats").append("<div style=\"height: 10px;\">");
    // var url = "http://dev.gisterp2/inventory/pos/get/product_categories";
    var url = "http://erp.cilanthropist.co/inventory/pos/get/product_categories";
    $.getJSON(url, function(json){  
       $.each(json, function(i, item) {
            var img = "http://nahmdong.com/vitalhill/img/default.png";
            if (item.image_url != null) {
                img = item.image_url;
            }
            // alert(item.name);
            $("#prod_cats").append("<button class=\"btn btn-md btn-block category_btn\" id=\"cat_btn_"+item.id+"\" onclick=\"ajaxGetProducts("+item.id+")\" style=\"background-color: #556E93; color: #ffffff; border-radius: 5px !important;\">"+item.name+"</button>");

            $("#prods").append("<div class=\"col-md-6\" style=\"margin: 0px !important; padding: 1px !important\" >\
                    <a href=\"javascript:void(0)\" class=\"category_btn2\" style=\"text-decoration: none;\" onclick=\"ajaxGetProducts("+item.id+")\">\
                    <div class=\"thumbnail\" style=\"margin: 0px !important;border-width: 1px !important; border-color: #7e88ff !important; border-radius: 5px !important;\">\
                        <img src="+img+" style=\"height: 150px; width: 80%; display: block;\">\
                        <div class=\"caption\" style=\"font-size: 12px !important; text-overflow: ellipsis !important; white-space: nowrap; overflow: hidden;\">\
                            <h3 style=\"font-size: 12px !important; margin: 0!important; text-overflow: ellipsis !important; white-space: nowrap; overflow: hidden;\">"+item.name+"</h3>\
                        </div>\
                    </div>\
                    </a>\
                </div>");
        });
    });
}
function ajaxGetVAT()
{
    // var url = "http://dev.gisterp2/inventory/pos/get/vat";
    var url = "http://erp.cilanthropist.co/inventory/pos/get/vat";
    var vat = 0;
    $.getJSON(url, function(json){  
        $('#session_vat').val(json)
    });

}
function ajaxGetProducts(cid)
{

    $( "#prods" ).empty();
    $("#prods").append("<div class=\"col-md-12\"><h2>&nbsp;&nbsp;&nbsp;Loading products...</h2></div>");
    $("#cat_btn_"+cid).css({'background-color': '#484c50'});
    $( "#prods" ).empty();
    
    // var url = "http://dev.gisterp2/inventory/pos/get/products/"+cid;
    var url = "http://erp.cilanthropist.co/inventory/pos/get/products/"+cid;
    $.getJSON(url, function(json){  
        var count = 0;
       $.each(json, function(i, item) {
        count++;
        var price = 0;
        if (item.srp != null) {
            price = item.srp;
        } 

        var img = "http://nahmdong.com/vitalhill/img/default.png";
        if (item.image_url != null) {
            img = item.image_url;
        }

            $("#prods").append("<div class=\"col-md-6\" style=\"margin: 0px !important; padding: 2px !important\" >\
                    <a href=\"javascript:void(0)\" style=\"text-decoration: none;\" onclick=\"addToCart('"+item.name+"',"+price+","+item.min_price+","+item.id+")\">\
                    <div class=\"thumbnail\" style=\"margin: 0px !important; border-width: 1px !important; border-color: #7e88ff !important; border-radius: 5px !important;\">\
                        <img src="+img+" style=\"height: 150px; width: 80%; display: block;\">\
                        <div class=\"caption\" style=\"font-size: 12px !important; text-overflow: ellipsis !important; white-space: nowrap; overflow: hidden;\">\
                            <h3 style=\"font-size: 12px !important; margin: 0!important; text-overflow: ellipsis !important; white-space: nowrap; overflow: hidden;\">"+item.name+"</h3>\
                            <h3 style=\"font-size: 12px !important; margin: 0!important;\"><b>PHP "+price+"</b></h3>\
                        </div>\
                    </div>\
                    </a>\
                </div>");

        });

       if (count == 0) {
            $( "#prods" ).empty();
            $("#prods").append("<div class=\"col-md-12\"><h2>&nbsp;&nbsp;No products in selected category</h2></div>");
       }
    });
}
function addCommas(nStr)
{
    nStr += '';
    x = nStr.split('.');
    x1 = x[0];
    x2 = x.length > 1 ? '.' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
}

function applyIndividualAdjustment()
{   
    var indiv_adj_opt = $('#cform-indiv_adj').val();
    if (indiv_adj_opt != '') {
        var selected_prod_id = $('#item_adjustment_prod_id').val();
        var row = $("#cart_table > tbody > tr.row_prod_"+selected_prod_id);
        var srp = row.find('.srp').val();

        if (indiv_adj_opt == 'gift') {
            row.find('.display_price').val('0.00');
        } else if (indiv_adj_opt == '40p') {
            var discounted_srp = srp * .4;
            row.find('.display_price').val(discounted_srp);
        } else if (indiv_adj_opt == 'chg') {
            row.find('.display_price').val($('#cform-new_price').val());
        } else {
            row.find('.display_price').val(srp);
        }
    } else {

    }
}

function hideCartLastColumn()
{
    $('td:last-child').each(function(){
        $(this).css("display", "none");
    });

    $('th:last-child').each(function(){
        $(this).css("display", "none");
    });
}

function showCartLastColumn()
{
    $('td:last-child').each(function(){
        $(this).css("display", "");
    });

    $('th:last-child').each(function(){
        $(this).css("display", "");
    });
}

function proceedToTransaction()
{
    var select_trans = $('#cform-trans_opts').val();
    if (select_trans != '') {
        // $("#prods").addClass("disabledbutton");
        // $("#prod_cats").addClass("disabledbutton");
        if (select_trans == 'reg') {
            $('.next_step_btn').hide();
            $('.checkout_btn').show();
            $('#transaction_type_modal').modal('hide');
            // $('.remove_row').hide();
            // $('.clear_discount').show();
            hideCartLastColumn();
        } else if (select_trans == 'per') {
            // hideCartLastColumn();
            $('.next_step_btn').hide();
            $('.checkout_btn').show();
            appendPerItemColumns();
            appendPerItemFields();
            $('#transaction_type_modal').modal('hide');
            $('.orig_totals_row').show();
            $('.orig_price_h3').show();
            $('.clear_discount').show();
        } else if (select_trans == 'bulk') {
            $('.next_step_btn').hide();
            // $('.remove_row').hide();
            $('.bulk_adj').show();
            $('#proc').show();
            $('#transaction_type_modal').modal('hide');
            $('#bulk_adjustment').modal('show');
            $('.bulk_discount_h4').show();
            $('.checkout_btn').show();
            $('.orig_totals_row').show();
            $('.orig_price_h3').show();
            $('.clear_discount').show();
        } else {
            $('.clear_discount').hide();
        }
    } else {
        $('.clear_discount').hide();
    }
}

function appendPerItemColumns()
{
    $('#cart_table').find('tr').each(function(){
        $(this).find('th').eq(1).after('<th>Discount Type</th>');
    });

    $('#cart_table').find('tr').each(function(){
        $(this).find('th').eq(2).after('<th>Value</th>');
    });

    $('#cart_table').find('tr').each(function(){
        $(this).find('th').eq(3).after('<th>Adjusted Price</th>');
    });
    var ths = $('th');
    var element = ths.eq(0);
    element.width(170);
    var element2 = ths.eq(1);
    element2.width(75);
    var element2 = ths.eq(3);
    element2.width(75);
    var element2 = ths.eq(4);
    element2.width(75);
}

function revertDiscounts()
{
    $('#cart_table').find('tr').each(function(){
        if ($(this).children('th').length > 5) {
            $(this).find('th').eq(2).remove();
            $(this).find('th').eq(2).remove();
            $(this).find('th').eq(2).remove();
        }

        if ($(this).children('td').length > 5) {
            $(this).find('td').eq(2).remove();
            $(this).find('td').eq(2).remove();
            $(this).find('td').eq(2).remove();
        }
    });

    //alert($('#cart_int_orig_price').val());
    $('.cart_price_h3').css({'color': 'black'});
    $('#cgroup-new_total').hide();
    $('#cform-new_total').val('');
    $('#cform-discount_amount').val('');
    $('#cgroup-discount_amount').hide();
    $('#cform-discount_pct').val('');
    $('#cgroup-discount_pct').hide();
    $('#cart_price').text(addCommas($('#cart_int_orig_price').val()));
    $('#cart_int_price').val($('#cart_int_orig_price').val());
    computeCartMinimum();
    $('.orig_totals_row').hide();
    $('.orig_price_h3').hide();
    $('.bulk_discount_h4').hide();
    $('#applied_bulk_discount').val('');
    $('.checkout_btn').hide();
    $('.bulk_adj').hide();
    $('.next_step_btn').show();
    $('.clear_discount').hide();
}

function appendPerItemFields()
{
    if ($('.checkout_btn').is(':visible')) {
        $('#cart_table').find('tr').each(function(){
            if ($(this).children('td').length < 6) {
                $(this).find('td').eq(1).after("<td style=\"font-size: 10px !important;\">\
                    {{ form.group_select_only3('Type', 'indiv_disc_opt', indiv_options, '', 12, 12, false)|e('js') }}</td>");
                $(this).find('td').eq(2).after("<td style=\"font-size: 10px !important;\">\
                    <input type=\"text\" style=\"font-size: 10px !important;\" class=\"form-control per_item_discount_amt\" readonly=\"true\" value=\"\"></td>");
                $(this).find('td').eq(3).after('<td><input type="text" style=\"font-size: 10px !important;\" class="form-control adjusted_price" readonly="true" value="0.00"></td>');

                var srp = $(this).find('.srp').val();
                var ap = $(this).find('.adjusted_price');
                ap.val(srp);
                computeCart();
            }
        });
    }
}

function applyBulkAdjustment()
{   
    var bulk_adj_opt = $('#cform-bulk_adj').val();
    if (bulk_adj_opt != '') {
        if (bulk_adj_opt == 'bgift') {
            $('#cart_price').text(0);
            $('#cart_int_price').val(0);
            $('#applied_bulk_discount').text('Gift');

        } else if (bulk_adj_opt == 'bdiscamt') {
            var new_cart_total = $('#cart_int_orig_price').val() - $('#cform-discount_amount').val();
            if (new_cart_total >= 0) {
                $('#cart_price').text(addCommas(new_cart_total));
                $('#cart_int_price').val(new_cart_total);
                $('#applied_bulk_discount').text('Less Php '+$('#cform-discount_amount').val()+'');
            } else {
                toastr['error']('Invalid discount amount.', 'Error');
            }
        } else if (bulk_adj_opt == 'bdisc') {
            var new_cart_total = $('#cart_int_orig_price').val() - ($('#cart_int_orig_price').val() * ($('#cform-discount_pct').val()/100));
            if (new_cart_total >= 0) {
                $('#cart_price').text(addCommas(new_cart_total));
                $('#cart_int_price').val(new_cart_total);
                $('#applied_bulk_discount').text('Less '+$('#cform-discount_pct').val()+'% off');
            } else {
                toastr['error']('Invalid discount.', 'Error');
            }
        } else if (bulk_adj_opt == 'bamt') {
            $('#cart_int_price').val($('#cform-new_total').val());
            $('#cart_price').text(addCommas($('#cform-new_total').val()));
            $('#applied_bulk_discount').text('Change Amount');
        } else {
            $('.display_price').each(function() {
                if ($(this).val() == "0" || $(this).val() == "0.00") {
                    //revert prices only if bulk discount came from gift
                    var row = $(this).closest('tr');
                    var srp = row.find('.srp').val();
                    $(this).val(srp);
                }
                
            });
            $('#applied_bulk_discount').text('');
            computeCart();
            computeCartMinimum();
        }
    } else {

    }

    var vat = parseInt($('#session_vat').val())/100;
    var totalx = $('#cart_int_price').val();
    // alert(totalx+'');
    var amt_net_of_vat = (totalx / (1.12)).toFixed(2);
    var vat_amt = (amt_net_of_vat * vat).toFixed(2);
    $("#cart_new_amt_vat").text(addCommas(amt_net_of_vat.toString()));
    $("#cart_new_vat").text(addCommas(vat_amt.toString()));
    $('#cart_int_price').val(totalx);
}

function revertOriginalPrices()
{
    $('.display_price').each(function() {
        if ($(this).val() == "0" || $(this).val() == 0.00) {
            //revert prices only if bulk discount came from gift
            var row = $(this).closest('tr');
            var srp = row.find('.srp').val();
            $(this).val(srp);
        }
        
    });
    computeCart();
    computeCartMinimum();
}

function hideBulkAmounts()
{
    $('#cform-discount_amount').val('');
    $('#cgroup-discount_amount').hide();
    $('#cform-discount_pct').val('');
    $('#cgroup-discount_pct').hide();
    $('#cform-new_total').val('');
    $('#cgroup-new_total').hide();
}

function cancelBulkAdjustment()
{
    revertOriginalPrices();
    $('#cgroup-new_total').hide();
    $('#cform-new_total').val('');
    $('#cform-discount_amount').val('');
    $('#cgroup-discount_amount').hide();
    $('#cform-discount_pct').val('');
    $('#cgroup-discount_pct').hide();
    $('.display_price').each(function() {
        if ($(this).val() == "0" || $(this).val() == 0.00) {
            //revert prices only if bulk discount came from gift
            var row = $(this).closest('tr');
            var srp = row.find('.srp').val();
            $(this).val(srp);
        }  
    });
}

function apply_indiv(x)
{
    var row = $(x).closest('tr');
    var srp = row.find('.srp').val();
    var adjusted_price = row.find('.adjusted_price');
    var per_item_discount_amt = row.find('.per_item_discount_amt');
    //adjusted_price.val(parseInt(srp)+100);

    if ($(x).val() == 'gift') {
        adjusted_price.val(0);
        per_item_discount_amt.attr("readonly", true); 
        per_item_discount_amt.val('');
    } else if ($(x).val() == 'disc') {
        adjusted_price.val(srp);
        per_item_discount_amt.val('');
        per_item_discount_amt.attr("readonly", false); 
    } else if ($(x).val() == 'chg') {
        adjusted_price.val(srp);
        per_item_discount_amt.val('');
        per_item_discount_amt.attr("readonly", false); 
    } else {
        adjusted_price.val(srp);
        per_item_discount_amt.attr("readonly", true); 
        per_item_discount_amt.val('');
    }

    computeCart();
    computeCartMinimum();
}

$(document).ready(function(){   
    ajaxGetVAT();
    toastr.options = {
      "closeButton": false,
      "debug": false,
      "newestOnTop": false,
      "progressBar": true,
      "positionClass": "toast-bottom-right",
      "preventDuplicates": true,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }

    $(document).on('keyup', '.per_item_discount_amt', function () {
        $(this).val(this.value.match(/[0-9]*/));
        var row = $(this).closest('tr');
        var srp = row.find('.srp').val();
        var adjusted_price = row.find('.adjusted_price');
        var per_item_discount_amt = row.find('.per_item_discount_amt');
        var pos_indiv_discount_opt = row.find('.pos_indiv_discount_opt').val();

        if (pos_indiv_discount_opt == 'disc') {
            if (parseInt($(this).val()) > 100) {
                toastr['error']('Discount percentage exceeded.', 'Error');
                $(this).val(100);
            }
            var discounted_price = srp - (srp * ($(this).val()/100));
            adjusted_price.val(discounted_price);
        } else if (pos_indiv_discount_opt == 'chg') {
            adjusted_price.val($(this).val());
        }
        
        computeCart();
        computeCartMinimum();

    });


    $('#cgroup-app_code').hide();
    $('.bulk_adj').hide();
    $('.clear_discount').hide();
    $('.checkout_btn').hide();
    $('.orig_totals_row').hide();
    $('.orig_price_h3').hide();
    $('.bulk_discount_h4').hide();
    ajaxGetProductCategories();

    $('#cform-new_price').val('');
    $('#cgroup-new_price').hide();
    hideBulkAmounts();

    //Select Trans Type
    $(document).on("click",".next_step_btn", function(e){
        if ($('#cart_table tr').length > 1) {
            $('#transaction_type_modal').modal('show');
        } else {
            toastr['warning']('Add products to cart before proceeding to next step.', 'Warning');
        }
        
    });

    //Proceed
    $(document).on("click",".proceed_btn", function(e){
        proceedToTransaction();
    });

    $(document).on("click",".apply_indiv", function(e){
        applyIndividualAdjustment();
    });

    $(document).on("click",".apply_bulk", function(e){
        applyBulkAdjustment();
    });

    $(document).on("click",".clear_discount", function(e){
        revertDiscounts();
    });

    $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
    });

    $(document).on("click",".category_btn", function(e){

        $('.category_btn').each(function() {
            $(this).css({'background-color': '#556E93'});
        });
        $('#selected_pcat').text(' - '+$(this).html());
        $(this).css({'background-color': '#484c50'});
    });

    $('#cform-indiv_adj').on("change", function()
    {
        var indiv_adj_opt = $('#cform-indiv_adj').val();
        if (indiv_adj_opt == 'chg') {
            $('#cform-new_price').val('');
            $('#cgroup-new_price').show();
        } else {
            $('#cgroup-new_price').hide();
            $('#cform-new_price').val('');
        }
    });

    $('#cform-bulk_adj').on("change", function()
    {
        var bulk_adj_opt = $('#cform-bulk_adj').val();
        $('.indiv_adj').each(function() {
            $(this).hide();
        });

        if (bulk_adj_opt == 'bgift') {

        } else if (bulk_adj_opt == 'bamt') {
            $('#cform-discount_amount').val('');
            $('#cgroup-discount_amount').hide();
            $('#cform-discount_pct').val('');
            $('#cgroup-discount_pct').hide();
            // $('#cform-new_total').val('');
            $('#cgroup-new_total').show();
        } else if (bulk_adj_opt == 'bdiscamt') {
            // $('#cform-discount_amount').val('');
            $('#cgroup-discount_amount').show();
            $('#cform-discount_pct').val('');
            $('#cgroup-discount_pct').hide();
            $('#cform-new_total').val('');
            $('#cgroup-new_total').hide();
        } else if (bulk_adj_opt == 'bdisc') {
            $('#cform-discount_amount').val('');
            $('#cgroup-discount_amount').hide();
            // $('#cform-discount_pct').val('');
            $('#cgroup-discount_pct').show();
            $('#cform-new_total').val('');
            $('#cgroup-new_total').hide();
        } else {
            cancelBulkAdjustment();
        }
    });


    $('#bulk_adjustment').on('shown.bs.modal', function () {

    });

    $('#bulk_adjustment').on('hidden.bs.modal', function () {
        computeCartMinimum();

    });

    $(document).on("click",".remove_row", function(e){
            e.preventDefault();            
            var tr = $(this).closest('tr');
            tr.remove();
            if($('.checkout_btn').is(':visible')) {
                computeCart();
            } else {
                computeCart();
            }
            
            computeCartMinimum();
            return false;
        });


    $(document).on("click",".bulk_adj", function(e){
        $('#bulk_adjustment').modal('show');
    });


    $("#cform-discount_pct").keyup(function() {
        $("#cform-discount_pct").val(this.value.match(/[0-9]*/));
    });

    $("#cform-discount_amount").keyup(function() {
        $("#cform-discount_amount").val(this.value.match(/[0-9]*/));
    });

    $("#cform-new_price").keyup(function() {
        $("#cform-new_price").val(this.value.match(/[0-9]*/));
    });
});
</script>
{% endblock %}