{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}
{% block content %}
<!-- CART VARS -->
<input type="hidden" id="float_cart_minimum_total" value="0">
<input type="hidden" id="float_cart_orig_price" value="0">
<input type="hidden" id="float_cart_new_price" value="0">
<!-- END CART VARS -->
<!-- TRANSACTION VARS -->
<input type="hidden" id="float_trans_amount" name="float_trans_amount" value="0">
<input type="hidden" id="float_trans_balance" name="transaction_balance" value="0">
<input type="hidden" id="string_trans_type" value="none">
<input type="hidden" id="string_trans_bulk_type" value="none">
<input type="hidden" id="string_trans_mode" value="normal">
<input type="hidden" id="transaction_customer_id" name="transaction_customer_id" value="0">
<input type="hidden" id="transaction_system_id" name="transaction_system_id" value="{{next_sys_id|default(0)}}">
<input type="hidden" id="transaction_display_id" name="transaction_display_id" value="{{next_id|default(0)}}">
<input type="hidden" id="transaction_status" name="transaction_status" value="{{status|default('null')}}">
<!-- END TRANSACTION VARS -->
<!-- TAX VARS -->
<input type="hidden" id="float_tax_rate" value="0">
<input type="hidden" id="float_orig_tax_vat_amt" value="0">
<input type="hidden" id="float_new_tax_vat_amt" value="0">
<input type="hidden" id="float_orig_tax_amt_net_vat" value="0">
<input type="hidden" id="float_new_tax_amt_net_vat" value="0">
<input type="hidden" id="string_tax_coverage" value="{{tax_coverage|default('none')}}">
<input type="hidden" id="float_orig_excl_total" value="0">
<input type="hidden" id="float_new_excl_total" value="0">
<!-- END TAX VARS -->
<!-- OLD VARS -->
<input type="hidden" id="session_vat" name="session_vat" value="0">
<input type="hidden" id="cart_min_price" name="cart_min_price" value="0">
<input type="hidden" id="cart_int_price" name="cart_int_price" value="0">
<input type="hidden" id="float_cart_orig_price" name="float_cart_orig_price" value="0">
<input type="hidden" id="transaction_amt_to_pay" name="transaction_amt_to_pay" value="0">
<input type="hidden" id="transaction_balance" name="transaction_balance" value="0">
<input type="hidden" id="reg_trans_flag" name="reg_trans_flag" value="0">
<input type="hidden" id="bulk_opt_sel" name="bulk_opt_sel" value="">
<input type="hidden" id="tax_coverage" name="tax_coverage" value="{{tax_coverage|default('none')}}">
<!-- END OLD VARS -->
<div class="page-content">
    <br>
    <div class="row" style="margin-right: 0px !important;">
        <div class="col-md-2" style="padding-right: 1px !important; border: 0px !important;">
        	<div class="portlet box " style="background-color: #292929 !important;border: 0px !important;">
                <div class="portlet-title">
                    <div class="caption">Product Categories</div>
                </div>
                <div class="portlet-body form" id="prod_cats" style="height: 400px; overflow:scroll;overflow-x: hidden;">
                	
                </div>
                <div style="background-color: #ffffff !important;">
                &nbsp;&nbsp;
                
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="portlet box" style="background-color: #292929 !important;border: 0px !important;"> 
                <div class="portlet-title">
                    <div class="caption">Products</div>
                </div>
                <div class="portlet-body">
                    <br>
                    <div  style="height: 410px;overflow:scroll; overflow-x: hidden;">
                        <div class="row" id="prods">
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet box" style="background-color: #292929 !important;border: 0px !important;"> 
                <div class="portlet-title">
                    <div class="caption">Cart</div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="overflow:scroll; overflow-x: hidden; height: 280px;">
                                <table class="table table-striped table-bordered table-hover" style="margin-top: 10px;" id="cart_table">
                                    <thead>
                                        <tr>
                                            <th width="60%">Item</th>
                                            <th width="25%">Price</th>
                                            <th width="10%"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="cart_items">
                                        <tr class="init_row_prods">
                                            <td colspan="3" class="xrow"><p>No items added</p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12" >
                                    <a href="javascript:void(0)" class="btn next_step_btn" style="background-color: #556E93; color: #ffffff;">Next Step</a>
                                    <a href="javascript:void(0)" class="btn bulk_adj" style="background-color: #556E93; color: #ffffff;">Bulk Discount</a>
                                    <a href="javascript:void(0)" class="btn checkout_btn" style="background-color: green; color: #ffffff;">Checkout</a>
                                    <a href="javascript:void(0)" class="btn clear_discount" style="background-color: orange; color: #ffffff;">Reset Transaction Type</a>
                                    <a href="" class="btn" style="background-color: red; color: #ffffff;">Clear Cart</a>
                                    <br>
                                    <br>
                                    <h4 class="bulk_discount_h4">Bulk Discount: <b><span id="applied_bulk_discount" value="">None</span></b></h4>
                                    <h4 class="savings_h4">You saved: <b>Php <span id="customer_savings" value="">0.00</span></b></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped table-bordered table-hover" style="" id="cart_totals_table">
                                        <thead>
                                            <tr>
                                                <th width="40%" style="font-size: 12px;">Amount</th>
                                                <th width="30%" style="font-size: 12px;">Amt Net of VAT</th>
                                                <th width="30%" style="font-size: 12px;">VAT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="initial_totals">
                                                <td><p style="font-size:12px;" class="cart_price_h3">Total <b>Php <span class="initial_cart_price" value="0">0</span></b></p></td>
                                                <td><p style="font-size:12px;" class="new_amt_vat"><b>Php <span id="initial_amt_net_vat" value="0">0</span></b></p></td>
                                                <td><p style="font-size:12px;" class="new_vat"><b>Php <span id="initial_vat_amt" value="0">0</span></b></p></td>
                                            </tr>
                                            <tr class="updated_totals_row">
                                                <td><p style="font-size:12px;" class="updated_price_h3">Updated<b>Php <span class="updated_cart_price" value="0">0</span></b></p></td>
                                                <td><p style="font-size:12px;" class="updated_amt_vat"><b>Php <span id="updated_amt_net_vat" value="0">0</span></b></p></td>
                                                <td><p style="font-size:12px;" class="updated_vat"><b>Php <span id="updated_vat_amt" value="0">0</span></b></p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="bulk_adjustment" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-header">
                        <a type="button" class="close" data-dismiss="modal" aria-hidden="true"></a>
                        <h4 id="form_title" class="modal-title">Bulk Discount Form</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            <div class="col-md-3" class="proceed_btn_reg" onclick="updateBulkForm('bgift')">
                                <a href="javascript:void(0)"><img src="{{ asset('bundles/gisttemplate/assets/global/img/bulk1.png') }}"></a>
                                <h4>Gift</h4>
                            </div>
                            <div class="col-md-3" class="proceed_btn_per"  onclick="updateBulkForm('bdisc')">
                                <a href="javascript:void(0)"><img src="{{ asset('bundles/gisttemplate/assets/global/img/bulk2.png') }}"></a>
                                <h4>Discount %</h4>
                            </div>
                            <div class="col-md-3" class="proceed_btn_bulk"  onclick="updateBulkForm('bdiscamt')">
                                <a href="javascript:void(0)"><img src="{{ asset('bundles/gisttemplate/assets/global/img/bulk3.png') }}"></a>
                                <h4>Discount</h4>
                            </div>
                            <div class="col-md-3" class="proceed_btn_bulk"  onclick="updateBulkForm('bamt')">
                                <a href="javascript:void(0)"><img src="{{ asset('bundles/gisttemplate/assets/global/img/bulk4.png') }}"></a>
                                <h4>Amount to Pay</h4>
                            </div>
                            <div style="margin-bottom: 25px;">&nbsp;</div>
                            {{ form.group_text('Selected Bulk Discount', 'selected_bulk', 'None', 4, 5, true) }}
                            {{ form.group_text('New Price', 'new_total', '', 4, 5, false) }}
                            {{ form.group_text('Less Amount', 'discount_amount', '', 4, 5, false) }}
                            {{ form.group_text('Less %', 'discount_pct', '', 4, 5, false) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn default green apply_bulk" data-dismiss="modal" style="margin=0" href="javascript:void(0)">Apply</a>
                        <button type="button" data-dismiss="modal" class="btn default" data-toggle="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="transaction_type_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-header">
                        <a type="button" class="close" data-dismiss="modal" aria-hidden="true"></a>
                        <h4 id="form_title" class="modal-title">Select Transaction Type</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            <div class="col-md-4" class="proceed_btn_reg" onclick="proceedToTransaction('reg')">
                                <a href="javascript:void(0)"><img src="{{ asset('bundles/gisttemplate/assets/global/img/regular_trans.png') }}"></a>
                                <h4>Regular Transaction</h4>
                            </div>
                            <div class="col-md-4" class="proceed_btn_per"  onclick="proceedToTransaction('per')">
                                <a href="javascript:void(0)"><img src="{{ asset('bundles/gisttemplate/assets/global/img/per_trans.png') }}"></a>
                                <h4>Per Item Discount</h4>
                            </div>
                            <div class="col-md-4" class="proceed_btn_bulk"  onclick="proceedToTransaction('bulk')">
                                <a href="javascript:void(0)"><img src="{{ asset('bundles/gisttemplate/assets/global/img/bulk_trans.png') }}"></a>
                                <h4>Bulk Discount</h4>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn default green proceed_btn" style="margin=0" href="javascript:void(0)">Proceed</a>
                        <button type="button" data-dismiss="modal" class="btn default" data-toggle="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="checkout_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-header">
                        <a type="button" class="close" data-dismiss="modal" aria-hidden="true"></a>
                        <h4 id="form_title" class="modal-title">Checkout & Payment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            <div class="col-md-6">
                                <h4>Amount to pay <b>Php <span class="co_amt_to_pay" value="0">0.00</span></b></h4>
                            </div>
                            <div class="col-md-6">
                                <h4>Balance <b>Php <span class="co_balance" value="0">0.00</span></b></h4>
                            </div>
                        </div>
                        <div class="row form-horizontal form">
                            <div class="col-md-2">
                                <div style="margin-top: 15px;"></div>
                                <a href="javascript:void(0)" class="co_cash_payment"><img src="{{ asset('bundles/gisttemplate/assets/global/img/pay_cash.png') }}" width="70px" width="70px"></a>
                                <a href="javascript:void(0)" class="co_cc_payment"><img src="{{ asset('bundles/gisttemplate/assets/global/img/pay_card.png') }}" width="70px"></a>
                                <a href="javascript:void(0)" class="co_check_payment"><img src="{{ asset('bundles/gisttemplate/assets/global/img/pay_check.png') }}" width="70px"></a>
                                <a href="javascript:void(0)"><img src="{{ asset('bundles/gisttemplate/assets/global/img/pay_gc.png') }}" width="70px"></a>
                            </div>
                            <div class="col-md-10">
                                <div style="overflow:scroll; overflow-x: hidden; height: 250px;">
                                    <table class="table table-striped table-bordered table-hover" style="margin-top: 10px;" id="payments_table">
                                        <thead>
                                            <tr>
                                                <th width="40%">Type</th>
                                                <th width="50%">Amount</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="payments_list">
                                            <tr class="init_row_payment">
                                                <td colspan="3"><p>No payments added</p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn default green finish_btn" style="margin=0" href="javascript:void(0)">Finish</a>
                        <button type="button" data-dismiss="modal" class="btn default" data-toggle="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="cash_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-header">
                        <a type="button" class="close" data-dismiss="modal" aria-hidden="true"></a>
                        <h4 id="form_title" class="modal-title">Cash Payment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            <div class="col-md-6">
                                <h4>Amount to pay <b>Php <span class="co_amt_to_pay">0.00</span></b></h4>
                            </div>
                            <div class="col-md-6">
                                <h4>Balance <b>Php <span class="co_balance_disp" >0.00</span></b></h4>
                            </div>
                        </div>
                        <div class="row form-horizontal form" style="margin-top: 20px;">
                            <div class="col-md-12">
                                {{ form.group_text('Received Amount', 'cash_received_amt', '', 4, 4, false) }}
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                        <a href="javascript:void(0)" class="btn btn-lg default blue numeric_key" data-value="7">7</a>
                                        <a href="javascript:void(0)" class="btn btn-lg default blue numeric_key" data-value="8">8</a>
                                        <a href="javascript:void(0)" class="btn btn-lg default blue numeric_key" data-value="9">9</a>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px !important;">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                        <a href="javascript:void(0)" class="btn btn-lg default blue numeric_key" data-value="4">4</a>
                                        <a href="javascript:void(0)" class="btn btn-lg default blue numeric_key" data-value="5">5</a>
                                        <a href="javascript:void(0)" class="btn btn-lg default blue numeric_key" data-value="6">6</a>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px !important;">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                        <a href="javascript:void(0)" class="btn btn-lg default blue numeric_key" data-value="1">1</a>
                                        <a href="javascript:void(0)" class="btn btn-lg default blue numeric_key" data-value="2">2</a>
                                        <a href="javascript:void(0)" class="btn btn-lg default blue numeric_key" data-value="3">3</a>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px !important; margin-bottom: 10px !important;">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                        <a href="javascript:void(0)" class="btn btn-lg default white" style="color: white !important; background-color: white !important; cursor: default !important;">0</a>
                                        <a href="javascript:void(0)" class="btn btn-lg default blue numeric_key" data-value="0">0</a>
                                        <a href="javascript:void(0)" class="btn btn-lg default blue numeric_key" data-value=".">.</a>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px !important; margin-bottom: 10px !important;">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                        <a href="javascript:void(0)" class="btn default red numeric_key" data-value="CLEAR">Clear</a>
                                        <a href="javascript:void(0)" class="btn default red numeric_key" data-value="DEL"><</a>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                                {#{{ form.group_hidden('Change Amount', 'cash_chg_amt', '0.00', 4, 4, true) }}#}
                                <br>
                                <h4>Change <b>Php <span id="cash_chg_amt" >0.00</span></b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn default green cash_proceed_btn" style="margin=0" href="javascript:void(0)">Submit</a>
                        <a class="btn default cash_go_back" style="margin=0" href="javascript:void(0)">Go Back</a>
                        {#<button type="button" data-dismiss="modal" class="btn default" data-toggle="modal">Cancel</button>#}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="cc_modal"  class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" style="width: 800px !important;">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-header">
                        <a type="button" class="close" data-dismiss="modal" aria-hidden="true"></a>
                        <h4 id="form_title" class="modal-title">Card Payment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            <div class="col-md-6">
                                <h4>Amount to pay <b>Php <span class="co_amt_to_pay">0.00</span></b></h4>
                            </div>
                            <div class="col-md-6">
                                <h4>Balance <b>Php <span class="co_balance_disp" >0.00</span></b></h4>
                            </div>
                        </div>
                        <div class="row form-horizontal form cc_main_form" style="margin-top: 20px;">
                            <div class="col-md-12" id="cc_form" style="height: 350px; overflow:scroll;overflow-x: hidden;">
                                <div class="cc_field">
                                    <h4 class="form-section">Card Details <a href="javascript:void(0)" class="btn btn-xs red remove_card pull-right"><i class="fa fa-remove"></i></a></h4>
                                    <div class="row">
                                        <div class="col-md-5">
                                            {{ form.group_selectx('Terminal Operator', 'cc_terminal_operator', terminal_operators, '', 5, 6, false) }}
                                            {{ form.group_text_pos('Charge Amount', 'cc_charge_amt', '', 5, 6, '', false) }}
                                            {{ form.checkbox_pos('card_w_interest', 0, 'With interest', '', '')}}
                                            {{ form.group_selectx('Payment Terms', 'cc_terms', charge_rates, '', 5, 6, '',false) }}
                                            {{ form.group_selectx('Bank of card', 'cc_bank', bank_options, '', 5, 6, '',false) }}
                                            {{ form.group_selectx('Card Class', 'cc_card_class', card_class, '', 5, 6, '',false) }}
                                        </div>
                                        <div class="col-md-7">                            
                                            {{ form.group_selectx('Card Type', 'cc_card_type', card_types, '', 4, 7, '', false) }}
                                            {{ form.group_text_pos('Card Number', 'cc_card_number', '', 4, 7, 'Card Number', false) }}
                                            {{ form.group_text_pos('Name on Card', 'cc_card_name', '', 4, 7, 'Name on Card', false) }}
                                            {{ form.group_text_pos('Expiry Date', 'cc_card_expiry', '', 4, 7, 'mm/yy', false) }}
                                            {{ form.group_text_pos('CVV', 'cc_card_cvv', '', 4, 7, 'CVV', false) }}
                                            <a href="javascript:void(0)" class="btn blue swipe_card pull-right">Swipe Card</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0)" class="btn blue add_card_btn">Add Card</a>
                        <a class="btn default green card_proceed_btn" style="margin=0" href="javascript:void(0)">Submit</a>
                        <a class="btn default cc_go_back" style="margin=0" href="javascript:void(0)">Go Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="check_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" style="width: 800px !important;">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-header">
                        <a type="button" class="close" data-dismiss="modal" aria-hidden="true"></a>
                        <h4 id="form_title" class="modal-title">Check Payment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            <div class="col-md-6">
                                <h4>Amount to pay <b>Php <span class="co_amt_to_pay">0.00</span></b></h4>
                            </div>
                            <div class="col-md-6">
                                <h4>Balance <b>Php <span class="co_balance_disp" >0.00</span></b></h4>
                            </div>
                        </div>
                        <div class="row form-horizontal form" style="margin-top: 20px;">
                            <div class="col-md-12" id="check_form" style="height: 300px; overflow:scroll;overflow-x: hidden;">
                                <div class="check_field">
                                    <h4 class="form-section">Check Details <a href="javascript:void(0)" class="btn btn-xs red remove_check pull-right"><i class="fa fa-remove"></i></a></h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form.group_selectx2('Bank', 'check_bank', bank_options, '', 5, 6, false) }}
                                            {{ form.group_text_pos('Account Number', 'check_account_number', '', 5, 6, false) }}
                                            {{ form.group_text_pos('Check Number', 'check_number', '', 5, 6, false) }}
                                            {{ form.group_text_pos('Check Amount', 'check_amount', '', 5, 6, false) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.checkbox_pos('check_is_pdc', 0, 'Post dated check', '', '')}}
                                            {{ form.group_date_pos('Check Date','check_date', '',5, 6) }}
                                            {{ form.group_text_pos("Payee's Name", 'check_payee_name', '', 5, 6, false) }}
                                            {{ form.group_text_pos("Payor's Name", 'check_payor_name', '', 5, 6, false) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0)" class="btn blue add_check_btn">Add Check</a>
                        <a class="btn default green check_proceed_btn" style="margin=0" href="javascript:void(0)">Submit</a>
                        <a class="btn default check_go_back" style="margin=0" href="javascript:void(0)">Go Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="freeze_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-header">
                        <a type="button" class="close" data-dismiss="modal" aria-hidden="true"></a>
                        <h4 id="form_title" class="modal-title">Frozen Transactions</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            
                        </div>
                        <div class="row form-horizontal form" style="margin-top: 10px;">
                            <div class="col-md-12" id="check_form" style="height: 300px; overflow:scroll;overflow-x: hidden;">
                                <table class="table table-striped table-bordered table-hover" style="margin-top: 10px;" id="frozen_transactions">
                                    <thead>
                                        <tr>
                                            <th width="40%">Transaction ID</th>
                                            <th width="50%">Date Created</th>
                                            <th width="10%"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="frozen_list">
                                        <tr class="init_row_frozen">
                                            <td colspan="3"><p>No frozen transactions</p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn default blue freeze_btn" style="margin=0" href="javascript:void(0)">Freeze Current Transaction</a>
                        <a class="btn default" data-dismiss="modal" style="margin=0" href="javascript:void(0)">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="customer_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" style="width: 700px !important;">
            <div class="modal-content" style="background-color: #0b114e;">
                <form method="post" action="">
                    <div class="modal-header">
                        <a style="color: white;" type="button" class="close" data-dismiss="modal" aria-hidden="true"></a>
                        <h4 style="color: white;" id="form_title" class="modal-title">Search/Add customer</h4>
                    </div>
                    <div class="modal-body" id="cust_formx" style="height: 500px; overflow:scroll;overflow-x: hidden;">
                        <div class="row form-horizontal form">
                            <div class="col-md-6" id="check_form">
                                {{ form.group_text_pos_white('Customer ID', 'cust_search_id', '', 4, 7, false) }}
                            </div>
                            <div class="col-md-6" id="check_form">
                                {{ form.radio_set_pos_white('Gender', 'cust_search_gender', gender_options, null, false) }}
                            </div>
                        </div>
                        <div class="row form-horizontal form">
                            <div class="col-md-6" id="check_form">
                                {{ form.group_selectx2_white('Status', 'cust_search_marital', marital_options, '', 4, 7, false) }}
                            </div>
                            <div class="col-md-6" id="check_form">
                            {{ form.group_date_pos_white('Married On','cust_search_marriage_date', '',4, 7) }}

                            </div>
                        </div>
                        <div class="row form-horizontal form">
                            <div class="col-md-5" id="check_form">
                                {{ form.group_text_pos_white('First Name', 'cust_search_firstname', '', 5, 6, false) }}
                            </div>
                            <div class="col-md-2" id="check_form">
                            {{ form.group_text_pos_white('MI', 'cust_search_middle_name', '', 2, 8, false) }}
                            </div>
                            <div class="col-md-5" id="check_form">
                                {{ form.group_text_pos_white('Last Name', 'cust_search_lastname', '', 5, 6, false) }}
                            </div>
                        </div>
                        <div class="row form-horizontal form">
                            <div class="col-md-6" id="check_form">
                                {{ form.group_text_pos_white('Home #', 'cust_search_home_phone', '', 4, 7, false) }}
                                {{ form.group_text_pos_white('Email','cust_search_email', '',4, 7) }}
                            </div>
                            <div class="col-md-6" id="check_form">
                                {{ form.group_text_pos_white('Mobile #', 'cust_search_mobile', '', 4, 7, false) }}
                                {{ form.group_date_pos_white('Birthday','cust_search_birthdate', '',4, 7) }}
                                
                            </div>
                        </div>
                        <div class="row form-horizontal form">
                            <div class="col-md-12" id="check_form">
                                {{ form.group_text_pos_white('Address 1', 'cust_search_address_1', '', 2, 9, false) }}
                            </div>
                        </div>
                        <div class="row form-horizontal form">
                            <div class="col-md-12" id="check_form">
                                {{ form.group_text_pos_white('Address 2', 'cust_search_address_2', '', 2, 9, false) }}
                            </div>
                        </div>
                        <div class="row form-horizontal form">
                            <div class="col-md-6" id="check_form">
                                {{ form.group_text_pos_white('City', 'cust_search_city', '', 4, 7, false) }}
                                {{ form.group_text_pos_white('Country','cust_search_country', '',4, 7) }}
                            </div>
                            <div class="col-md-6" id="check_form">
                                {{ form.group_text_pos_white('State', 'cust_search_state', '', 4, 7, false) }}
                                {{ form.group_text_pos_white('Zip','cust_search_zip', '',4, 7) }}
                                
                            </div>
                        </div>
                        <div class="row form-horizontal form">
                            <div class="col-md-12" id="check_form">
                                {{ form.group_textarea_white('Notes', 'cust_search_notes', '', 3, 2, 9, false) }}
                            </div>
                        </div>
                        <div class="row form-horizontal form customer_seach_main_div" >
                            <h4 style="color: white;" id="form_title" class="modal-title">Search Results</h4>
                            <hr style="margin-top: 2px; margin-bottom: 10px;">
                            <div class="col-md-12" id="check_form" style="height: 160px; overflow:scroll;overflow-x: hidden;">
                            <table class="table table-bordered table-hover" id="customers_table" style="background-color: white !important;">
                                    <thead>
                                        <tr >
                                            <th width="50%">Name</th>
                                            <th width="40%">E-mail</th>
                                            <th width="10%">Select</th>
                                        </tr>
                                    </thead>
                                    <tbody id="customers_list">
                                        <tr class="init_row_customer">
                                            <td colspan="3"><p>No customer found</p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <a class="btn default red customer_clear_search_btn" style="margin=0" href="javascript:void(0)">Clear Fields</a>
                        <a class="btn default green customer_search_btn" style="margin=0" href="javascript:void(0)">Search</a>
                        <a class="btn default blue save_customer_button" style="margin=0" href="javascript:void(0)">Add New Customer</a>
                        <a class="btn default blue customer_search_again_btn" style="margin=0" href="javascript:void(0)">Search Again</a>
                        <a class="btn default green customer_continue_btn" style="margin=0" href="javascript:void(0)">Continue</a>
                        <button type="button" class="btn default cancel_cust_search" data-toggle="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="final_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            <h3 id="form_title" class="modal-title">Transaction complete!</h3>
                            <br>
                            <div class="col-md-4" class="proceed_btn_reg" onclick="finalModalAction('save')">
                                <a href="javascript:void(0)"><img src="{{ asset('bundles/gisttemplate/assets/global/img/save.png') }}"></a>
                                <h4>Save</h4>
                            </div>
                            <div class="col-md-4" class="proceed_btn_reg" onclick="finalModalAction('save_print')">
                                <a href="javascript:void(0)"><img src="{{ asset('bundles/gisttemplate/assets/global/img/receipt.png') }}"></a>
                                <h4>Save & Print Receipt</h4>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p><i>Leaving this modal will reset the POS</i></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="final_modal2" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            <h3 id="form_title" class="modal-title">Transaction complete!</h3>
                            <br>
                            <div class="col-md-4" class="proceed_btn_reg" onclick="finalModalAction('save')">
                                <a href="javascript:void(0)"><img src="{{ asset('bundles/gisttemplate/assets/global/img/save.png') }}"></a>
                                <h4>Save</h4>
                            </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <p><i>Leaving this modal will reset the POS</i></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="quotation_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            <h3 id="form_title" class="modal-title">Enable quotation mode?</h3>
                            <hr>
                            <p style="font-size: 18px;">To go back to normal mode, press the quotation icon again.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn default green quotation_continue_btn" style="margin=0" href="javascript:void(0)">Yes</a>
                        <a class="btn red default" data-dismiss="modal" style="margin=0" href="javascript:void(0)">No</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="rev_quotation_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            <h3 id="form_title" class="modal-title">Disable quotation mode?</h3>
                            <hr>
                            <p style="font-size: 18px;">This will revert back to normal mode.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn default green quotation_continue_btn" style="margin=0" href="javascript:void(0)">Yes</a>
                        <a class="btn red default" data-dismiss="modal" style="margin=0" href="javascript:void(0)">No</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="swipe_await" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            <div class="row">
                                <div class="col-md-3"></div>    
                                <div class="col-md-6" style="text-align: center;"><img height="200" width="300" src="{{ asset('bundles/gisttemplate/assets/global/img/swipe2.gif') }}"></div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>    
                                <div class="col-md-8" style="text-align: center;"><h2 class="center">Waiting for card swipe...</h2></div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <a class="btn default green quotation_continue_btn" style="margin=0" href="javascript:void(0)">Yes</a> -->
                        <a class="btn red default" data-dismiss="modal" style="margin=0" href="javascript:void(0)">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="swipe_error" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            <div class="row">
                                <div class="col-md-3"></div>    
                                <div class="col-md-6" style="text-align: center;"><img height="180" width="180" src="{{ asset('bundles/gisttemplate/assets/global/img/error.png') }}"></div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>    
                                <div class="col-md-6" style="text-align: center;"><h2 class="center">Card not recognized</h2></div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <a class="btn default green quotation_continue_btn" style="margin=0" href="javascript:void(0)">Yes</a> -->
                        <a class="btn green default" data-dismiss="modal" style="margin=0" href="javascript:void(0)">Okay</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="swipe_expired" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            <div class="row">
                                <div class="col-md-3"></div>    
                                <div class="col-md-6" style="text-align: center;"><img height="180" width="180" src="{{ asset('bundles/gisttemplate/assets/global/img/error.png') }}"></div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>    
                                <div class="col-md-6" style="text-align: center;"><h2 class="center">Card expired</h2></div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <a class="btn default green quotation_continue_btn" style="margin=0" href="javascript:void(0)">Yes</a> -->
                        <a class="btn green default" data-dismiss="modal" style="margin=0" href="javascript:void(0)">Okay</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="hidden">
    <div id="cc_fields">
        <div class="cc_field">
            <h4 class="form-section">Card Details <a href="javascript:void(0)" class="btn btn-xs red remove_card pull-right"><i class="fa fa-remove"></i></a></h4>
            <div class="row">
                <div class="col-md-5">
                    {{ form.group_selectx('Terminal Operator', 'cc_terminal_operator', terminal_operators, '', 5, 6, false) }}
                    {{ form.group_text_pos('Charge Amount', 'cc_charge_amt', '', 5, 6, '', false) }}
                    {{ form.checkbox_pos('card_w_interest', 0, 'With interest', '', '')}}
                    {{ form.group_selectx('Payment Terms', 'cc_terms', charge_rates, '', 5, 6, '',false) }}
                    {{ form.group_selectx('Bank of card', 'cc_bank', bank_options, '', 5, 6, '',false) }}
                    {{ form.group_selectx('Card Class', 'cc_card_class', card_class, '', 5, 6, '',false) }}
                </div>
                <div class="col-md-7">
                    {{ form.group_selectx('Card Type', 'cc_card_type', card_types, '', 4, 7, 'Card Type', false) }}
                    {{ form.group_text_pos('Card Number', 'cc_card_number', '', 4, 7, 'Card Number', false) }}
                    {{ form.group_text_pos('Name on Card', 'cc_card_name', '', 4, 7, 'Name on Card', false) }}
                    {{ form.group_text_pos('Expiry Date', 'cc_card_expiry', '', 4, 7, 'mm/yy', false) }}
                    {{ form.group_text_pos('CVV', 'cc_card_cvv', '', 4, 7, 'CVV', false) }}
                    <a href="javascript:void(0)" class="btn blue swipe_card pull-right">Swipe Card</a>
                </div>
            </div>
        </div>
    </div>
    <div id="check_fields">
        <div class="check_field">
            <h4 class="form-section">Check Details <a href="javascript:void(0)" class="btn btn-xs red remove_check pull-right"><i class="fa fa-remove"></i></a></h4>
            <div class="row">
                <div class="col-md-6">
                    {{ form.group_selectx2('Bank', 'check_bank', bank_options, '', 5, 6, false) }}
                    {{ form.group_text_pos('Account Number', 'check_account_number', '', 5, 6, false) }}
                    {{ form.group_text_pos('Check Number', 'check_number', '', 5, 6, false) }}
                    {{ form.group_text_pos('Check Amount', 'check_amount', '', 5, 6, false) }}
                </div>
                <div class="col-md-6">
                    {{ form.checkbox_pos('check_is_pdc', 0, 'Post dated check', '', '')}}
                    {{ form.group_date_pos('Check Date','check_date', '',5, 6) }}
                    {{ form.group_text_pos("Payee's Name", 'check_payee_name', '', 5, 6, false) }}
                    {{ form.group_text_pos("Payor's Name", 'check_payor_name', '', 5, 6, false) }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block js %}
<script>

function finalModalAction(opt)
{
    if (opt == 'save') {
        $('#final_modal').modal('hide');
        freezeTransaction(true);
        swal('Transaction saved!','The page will now reload','success');
    } else {
        freezeTransaction(true);
        setTimeout(
          function() 
          {
            var url = '{{ path("gist_pos_print_receipt", {'id': 'id'})|escape('js') }}'; 
            url = url.replace("id", $('#transaction_system_id').val());
            var win = window.open(url, '_blank');
            if (win) {
                //Browser has allowed it to be opened
                win.focus();
            } else {
                //Browser has blocked it
                alert('Receipt pop-up blocked. Please allow.');
            }
          }, 3000);
    }
}

function syncToERP()
{
    var route = "{{ path('gist_main_sync_pos_data')|escape('js') }}";
    $.getJSON(route, function(json){  
       $.each(json, function(i, x) {
            swal({
                          title: "POS Data Synced!",
                          text: "",
                          type: "success",
                          confirmButtonColor: "green",
                          confirmButtonText: "Okay",
                        },
                        function(){
                            location.reload();
                            
                        });

        });
    });
}



function appendPerItemColumns()
{
    $('#cart_table').find('tr').each(function(){
        $(this).find('th').eq(1).after('<th>Discount Type</th>');
    });

    $('#cart_table').find('tr').each(function(){
        $(this).find('th').eq(2).after('<th>Value</th>');
    });

    $('#cart_table').find('tr').each(function(){
        $(this).find('th').eq(3).after('<th>Adjusted Price</th>');
    });
    var ths = $('th');
    var element = ths.eq(0);
    element.width(100);
    var element2 = ths.eq(1);
    element2.width(70);
    var element2 = ths.eq(2);
    element2.width(80);
    var element2 = ths.eq(3);
    element2.width(70);
    var element2 = ths.eq(4);
    element2.width(70);
}

function appendPerItemFields()
{
    if ($('#string_trans_type').val() == "per") {
        $('#cart_table').find('tr').each(function(){
            if ($(this).children('td').length < 6) {
                $(this).find('td').eq(1).after("<td style=\"font-size: 10px !important;\">\
                    {{ form.group_select_only3('Type', 'indiv_disc_opt', indiv_options, '', 12, 12, false)|e('js') }}</td>");
                $(this).find('td').eq(2).after("<td style=\"font-size: 10px !important;\">\
                    <input type=\"number\" step=\"0.01\" style=\"font-size: 10px !important;\" class=\"form-control per_item_discount_amt\" readonly=\"true\" value=\"\"></td>");
                $(this).find('td').eq(3).after('<td><input type="text" style=\"font-size: 10px !important;\" class="form-control adjusted_price" readonly="true" value="0.00"></td>');

                var srp = $(this).find('.srp').val();
                var ap = $(this).find('.adjusted_price');
                ap.val(srp);
                //computeCart();
            }
        });
    }
}







$(document).ready(function(){ 

    
        
        
    ajaxGetProductCategories();  
    ajaxGetVAT();
    toastr.options = {
      "closeButton": false,
      "debug": false,
      "newestOnTop": false,
      "progressBar": true,
      "positionClass": "toast-top-right",
      "preventDuplicates": true,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "500",
      "timeOut": "4000",
      "extendedTimeOut": "500",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }

    $('.posgrp_check_date').hide();

    $(document).on("click",".freeze_btn", function(e){
        //THIS WILL INITIATE SAVING OF TRANSACTION
        freezeTransaction();
    });

    $(document).on("click",".swipe_card", function(e){
        $('#swipe_await').modal('show');

        // Event handler for scanstart.cardswipe.
        var scanstart = function () {

        };

        // Event handler for scanend.cardswipe.
        var scanend = function () {

        };

        // Event handler for success.cardswipe.  Displays returned data in a dialog
        var success = function (event, data) {

        }

        var failure = function () {
           
        }
        // Bind event listeners to the document
        $(document)
            .on("scanstart.cardswipe", scanstart)
            .on("scanend.cardswipe", scanend)
            .on("success.cardswipe", success)
            .on("failure.cardswipe", failure)
        ;

        
        // Bind event listeners to the document
        

        var row = $(this).closest('.cc_field');
        var cc_num = row.find('.cc_card_number');
        var cc_name = row.find('.cc_card_name');
        var cc_type = row.find('.cc_card_type select');
        var cc_expiry = row.find('.cc_card_expiry');

        var date = new Date();
        // alert(date.getMonth()+1);
        var curr_mm = date.getMonth()+1;
        var curr_yy = date.getFullYear().toString().substr(-2);

        // Called by plugin on a successful scan.
        var complete = function (data) {
            $('#swipe_await').modal('hide');
            // Is it a payment card?
            if (data.type == "generic")
            {
                $('#swipe_error').modal('show');
                return;
            }

            if (parseFloat(data.expMonth) <= parseFloat(curr_mm) && parseFloat(data.expYear) <= parseFloat(curr_yy)) {
                $('#swipe_expired').modal('show');
                return;
            }

            // Copy data fields to form
            // cc_type.val(data.type);
            $('.cc_card_type option[value='+data.type+']').prop('selected',true);
            cc_name.val($.trim(data.firstName)+ ' '+$.trim(data.lastName));
            cc_num.val(data.account);
            cc_expiry.val(data.expMonth+'/'+data.expYear);
            $(document).off(".cardswipe-listener");

            
        };

        $.cardswipe({
            firstLineOnly: true,
            success: complete,
            parsers: ["visa", "amex", "mastercard", "discover", "generic"],
            debug: false
        });


    });
    $(document).on("click",".remove_card", function(e){
        $(this).closest('.cc_field').remove();
        computeBalanceDisplayCardMulti(0);
    });

    $(document).on("click",".remove_check", function(e){
        $(this).closest('.check_field').remove();
        computeBalanceDisplayCheckMulti(0);
    });

    $(document).on("click",".check_is_pdc", function(e){
        var row = $(this).closest('.check_field');
        var opt = row.find('.posgrp_check_date');
        //TO REMOVE CHECK
        //var opt = row.find('#uniform-cform-check_is_pdc > span');
        //opt.removeClass('checked');

        if ($(this).val() == 0) {
            $(this).val(1);
            opt.show();
        } else {
            $(this).val(0);
            opt.hide();
        }

        //alert($(this).val());
        
        
    });


    $('.posgrp_cust_search_marriage_date').hide();
    $('.customer_continue_btn').hide();
    $('.customer_search_again_btn').hide();

    $('.cust_search_marital').on("change", function()
    {
        var opt = $('.cust_search_marital').val();
        if (opt == 'married') {
            $('.posgrp_cust_search_marriage_date').show();
        } else {
            $('.posgrp_cust_search_marriage_date').hide();
            $('#cform-cust_search_marriage_date').val('');
        }
    });

    $(document).on("click",".customer_search_again_btn", function(e){
        clearCustomerFields();
        $('.customer_seach_main_div').show();
        $('.customer_search_btn').show();
        $('.customer_clear_search_btn').show();
        $('.add_customer').show();
        $('.customer_continue_btn').hide();
        $('.customer_search_again_btn').hide();
        $('.save_customer_button').show();
    });

    $(document).on("click",".customer_continue_btn", function(e) {
        swal("Success!", 'Customer selected!',"success");
        $('#customer_modal').modal('hide');
        if ($('#string_trans_type').val() != 'none' && parseFloat($('#float_trans_balance').val()) <= 0) {
            $('#final_modal').modal('show');
        } else if ($('#string_trans_mode').val() == 'quotation') {
            $('#final_modal2').modal('show');
        }
    }); 

    $(document).on("click",".cancel_cust_search", function(e){
        resetCustomerModal();
    });


    $(document).on("click",".use_customer_btn", function(e){
        clearCustomerFields();
        $('#customers_list').empty();
        $('.customer_seach_main_div').hide();
        $('.customer_search_btn').hide();
        $('.customer_clear_search_btn').hide();
        $('.add_customer').hide();
        $('.save_customer_button').hide();
        $('.customer_continue_btn').show();
        $('.customer_search_again_btn').show();

        var row = $(this).closest('tr');
        var opt = row.find('.marital_status').val();
        if (opt == 'married') {
            $('.posgrp_cust_search_marriage_date').show();
        } else {
            $('.posgrp_cust_search_marriage_date').hide();
            $('#cform-cust_search_marriage_date').val('');
        }

        $('#transaction_customer_id').val(row.find('.id').val());

        $('#cform-cust_search_id').val(row.find('.id').val());
        $('#cform-cust_search_firstname').val(row.find('.first_name').val());
        $('#cform-cust_search_middle_name').val(row.find('.middle_name').val());
        $('#cform-cust_search_lastname').val(row.find('.last_name').val());
        $('#cform-cust_search_home_phone').val(row.find('.home_phone').val());
        $('#cform-cust_search_mobile').val(row.find('.number').val());
        $('#cform-cust_search_email').val(row.find('.email').val());
        $('#cform-cust_search_birthdate').val(row.find('.birthdate').val());
        $('#cform-cust_search_address_1').val(row.find('.address1').val());
        $('#cform-cust_search_address_2').val(row.find('.address2').val());
        $('#cform-cust_search_city').val(row.find('.city').val());
        $('#cform-cust_search_state').val(row.find('.state').val());
        $('#cform-cust_search_country').val(row.find('.country').val());
        $('#cform-cust_search_zip').val(row.find('.zip').val());
        $('#cform-cust_search_marriage_date').val(row.find('.date_married').val());
        $('#cform-cust_search_notes').val(row.find('.notes').val());
        $('.cust_search_marital').val(row.find('.marital_status').val());
        $('#uniform-cform-cust_search_gender > span').each(function() {
            if ($(this).find('#cform-cust_search_gender').val() == row.find('.gender').val()) {
                $(this).addClass('checked');
            }
        });

        var objDiv = document.getElementById("cust_formx");
        objDiv.scrollTop = 0;
    });


    $(document).on("click",".customer_clear_search_btn", function(e){
        clearCustomerFields();
    });

    // CC



    /* Fancy restrictive input formatting via jQuery.payment library*/
    $('input[name=cc_card_number]').payment('formatCardNumber');
    $('input[name=cc_card_cvv]').payment('formatCardCVC');
    $('input[name=cc_card_expiry').payment('formatCardExpiry');

    /* Form validation using Stripe client-side validation helpers */
    jQuery.validator.addMethod("cc_card_number", function(value, element) {
        return this.optional(element) || Stripe.card.validateCardNumber(value);
    }, "Please specify a valid credit card number.");

    jQuery.validator.addMethod("cc_card_expiry", function(value, element) {    
        /* Parsing month/year uses jQuery.payment library */
        value = $.payment.cardExpiryVal(value);
        return this.optional(element) || Stripe.card.validateExpiry(value.month, value.year);
    }, "Invalid expiration date.");

    jQuery.validator.addMethod("cc_card_cvv", function(value, element) {
        return this.optional(element) || Stripe.card.validateCVC(value);
    }, "Invalid CVC.");


    // END CC



    // CLEAN
    $('.updated_totals_row').hide();

    $(document).on("click",".remove_row", function(e){
        var trans_type = $('#string_trans_type').val();
        var trans_amt = $('#float_trans_amount').val();
        var balance = $('#float_trans_balance').val();

        if (balance < trans_amt) {
            sweetAlert("Can't remove item!", "Payment already made", "error");
        } else {
            if (trans_type == 'bulk') {
                sweetAlert("Can't remove item!", "Reset transaction type to remove item/s", "error");
            } else {
                e.preventDefault();            
                var tr = $(this).closest('tr');
                tr.remove();

                //count number of products in cart
                var rowCount = $('#cart_table tr').length-1;
                $('.cart_items_count').text(rowCount.toString());

                if (rowCount == 0) {
                    var field = '<tr class=\"init_row_prods\">';     
                    field += '<td colspan=\"3\" class=\"xrow\"><p>No items added</p></td>';
                    field += '</tr>';

                    $('#cart_items').prepend(field);
                }

                if($('#string_trans_type').val() == 'none' || $('#string_trans_type').val() == 'reg') {
                    computeCartRaw();
                } else if($('#string_trans_type').val() == 'per') {
                    // alert('remove indiv');
                    computeCartRaw();
                    computeCartIndiv();
                } else if($('#string_trans_type').val() == 'bulk') {
                    computeCartRaw();
                    applyBulkAdjustment();
                } else {
                    computeCartRaw();
                }
                computeBalance();    
            }
        }
            
        
        return false;
    });

    $(document).on("click",".cp_customers", function(e){
        $('#customer_modal').modal('show');
    });

    $(document).on("click",".customer_search_btn", function(e){
        var objDiv = document.getElementById("cust_formx");
        objDiv.scrollTop = objDiv.scrollHeight;
        ajaxSearchCustomer();
    });

    $(document).on("click",".save_customer_button", function(e){
        var last_name = $('#cust_search_lastname').val();
        var first_name = $('#cust_search_firstname').val();
        if ($('#cform-cust_search_lastname').val() != '' &&  $('#cform-cust_search_firstname').val() != '') {
            ajaxAddCustomer();
        } else {
            swal("Missing fields!", "Please enter atleast a first and last name", "error");   
        }
    });

    $(document).on("click",".add_customer", function(e){
        $('#customer_modal').modal('hide');
        $('#add_customer_modal').modal('show');
    });

    $(document).on("click",".cp_quotation", function(e){
        var trans_amt = $('#float_trans_amount').val();
        var balance = $('#float_trans_balance').val();

        if (balance < trans_amt && trans_amt > 0) {
            swal("Cannot change to quotation!", "Payment already made", "error");
        } else {
            if ($('#string_trans_mode').val() == 'normal') {
                $('#quotation_modal').modal('show');
            } else {
                $('#rev_quotation_modal').modal('show');
            }
        }   
    });

    $(document).on("click",".cp_freeze", function(e){
        var trans_amt = $('#float_trans_amount').val();
        var balance = $('#float_trans_balance').val();

        if (balance == 0 && trans_amt > 0) {
            swal("Cannot freeze transaction!", "Full payment already made", "error");
        } else {
            loadFrozenTransactions();
            $('#freeze_modal').modal('show');
        }
    });

    $(document).on("click",".quotation_continue_btn", function(e){
        if ($('#string_trans_mode').val() == 'normal') {
            $('#string_trans_mode').val('quotation');
            $('#pos_mode').text('Quotation');
            $('.quotation_icon_img').attr("src", "{{ asset('bundles/gisttemplate/assets/global/img/quote.png') }}");
            // toastr['success']('Quotation mode enabled.', 'POS Mode Changed');
            swal("POS Mode Changed", "Quotation mode enabled!", "success")
            $('#quotation_modal').modal('hide');
        } else {
            $('#string_trans_mode').val('normal');
            $('#pos_mode').text('Normal');
            $('.quotation_icon_img').attr("src", "{{ asset('bundles/gisttemplate/assets/global/img/normal.png') }}");
            // toastr['success']('Quotation mode disabled.', 'POS Mode Changed');
            swal("POS Mode Changed", "Quotation mode disabled!", "success")
            $('#rev_quotation_modal').modal('hide');
        }
        
    });
    

    


    $(document).on("click",".next_step_btn", function(e){
        if ($('#cart_table tr').length > 1 && $('#cart_table .xrow').length == 0) {
            $('#transaction_type_modal').modal('show');
        } else {
            toastr['warning']('Add products to cart before proceeding to next step.', 'Warning');
        }
    });



    $(document).on("click",".clear_discount", function(e){
        revertDiscounts();
        $('.customer_savings').text("0.00");
        $('.savings_h4').hide();
    });

    $('#cform-indiv_adj').on("change", function()
    {
        var indiv_adj_opt = $('#cform-indiv_adj').val();
        if (indiv_adj_opt == 'chg') {
            $('#cform-new_price').val('');
            $('#cgroup-new_price').show();
        } else {
            $('#cgroup-new_price').hide();
            $('#cform-new_price').val('');
        }
    });

    // $("#cform-discount_pct").keyup(function() {
    //     $("#cform-discount_pct").val(this.value.match(/[0-9]*/));
    // });

    $(document).on('keydown', '#cform-discount_pct', function (event) {
        if (event.shiftKey == true) {
            event.preventDefault();
        }

        if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode == 110) {

        } else {
            event.preventDefault();
        }

        if($(this).val().indexOf('.') !== -1 && (event.keyCode == 190 || event.keyCode == 110))
            event.preventDefault(); 
        //if a decimal has been added, disable the "."-button

    });



    // $("#cform-discount_amount").keyup(function() {
    //     $("#cform-discount_amount").val(this.value.match(/[0-9]*/));
    // });

    $(document).on('keydown', '#cform-discount_amount', function (event) {
        if (event.shiftKey == true) {
            event.preventDefault();
        }

        if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode == 110) {

        } else {
            event.preventDefault();
        }

        if($(this).val().indexOf('.') !== -1 && (event.keyCode == 190 || event.keyCode == 110))
            event.preventDefault(); 
        //if a decimal has been added, disable the "."-button

    });

    $(".cc_card_expiry").focusout(function() {
        var date = new Date();
        // alert(date.getMonth()+1);
        var curr_mm = date.getMonth()+1;
        var curr_yy = date.getFullYear().toString().substr(-2);

        var mm = $(this).val().substring(0, 2);
        var yy = $(this).val().substring(5, 7);
        // alert(mm+'/'+yy);
        if (mm != '' && yy != '')
        {
            if (parseFloat(mm) <= parseFloat(curr_mm) && parseFloat(yy) <= parseFloat(curr_yy)) {
                $('#swipe_expired').modal('show');
                $(this).val('');
                var row = $(this).closest('.cc_field');
                var cc_num = row.find('.cc_card_number');
                var cc_name = row.find('.cc_card_name');
                var cc_type = row.find('.cc_card_type select');

                cc_num.val('');
            }
        } 
        else 
        {
            swal('Invalid expirty date','Please enter expiry date again', 'error');
            $(this).val('');
        }
    });

    $(document).on('keydown', '#cform-new_price', function (event) {
        if (event.shiftKey == true) {
            event.preventDefault();
        }

        if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode == 110) {

        } else {
            event.preventDefault();
        }

        if($(this).val().indexOf('.') !== -1 && (event.keyCode == 190 || event.keyCode == 110))
            event.preventDefault(); 
        //if a decimal has been added, disable the "."-button

    });

    $(document).on("click",".bulk_adj", function(e){
        $('#bulk_adjustment').modal('show');
    });

    $(document).on('keydown', '.per_item_discount_amt', function (event) {
        if (event.shiftKey == true) {
            event.preventDefault();
        }

        if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode == 110) {

        } else {
            event.preventDefault();
        }

        if($(this).val().indexOf('.') !== -1 && (event.keyCode == 190 || event.keyCode == 110))
            event.preventDefault(); 
        //if a decimal has been added, disable the "."-button

    });

    $('#final_modal').on('hidden.bs.modal', function () {
        location.reload();
    });

    $('#customer_modal').on('hidden.bs.modal', function () {
        resetCustomerModal();
    });

    $(document).on('keyup', '.per_item_discount_amt', function () {
        var row = $(this).closest('tr');
        var srp = row.find('.srp').val();
        var input_amt = $(this).val();
        var adjusted_price = row.find('.adjusted_price');
        var per_item_discount_amt = row.find('.per_item_discount_amt');
        var pos_indiv_discount_opt = row.find('.pos_indiv_discount_opt').val();

        if (pos_indiv_discount_opt == 'disc') {
            if (parseFloat(input_amt) > 100) {
                toastr['error']('Discount percentage exceeded.', 'Error');
                $(this).val(100);
            }
            var discounted_price = srp - (srp * (input_amt/100));
            adjusted_price.val(discounted_price);
        } else if (pos_indiv_discount_opt == 'discamt') {
            if (input_amt < 0 || input_amt == '') {
                var discounted_price = parseFloat(srp);
                adjusted_price.val(discounted_price);
            } else {
                var discounted_price = parseFloat(srp) - parseFloat(input_amt);
                adjusted_price.val(discounted_price);
            }
        } else if (pos_indiv_discount_opt == 'chg') {
            adjusted_price.val(input_amt);
        }
        
        computeCartIndiv();
        computeCartMinimum();
        computeBalance();

    });

    $(document).on("click",".finish_btn", function(e){
        var balance = $('#float_trans_balance').val();
        if (balance <= 0) {
            swal("Payment Complete!", "Enter customer information on the next form", "success")
            $('#checkout_modal').modal('hide');
            $('#customer_modal').modal('show');
        } else {
            if ($('#string_trans_mode').val() == "quotation") {
                swal("Payment Complete!", "Enter customer information on the next form", "success")
                $('#checkout_modal').modal('hide');
                $('#customer_modal').modal('show');
            } else {
                // toastr['error']('Balance of '+addCommas(parseFloat(balance))+' not paid', 'Transaction incomplete');
                sweetAlert("Oops...", "Balance of "+addCommas(parseFloat(balance))+" not paid", "error");
            }
        }
    });

    $(document).on("click",".apply_bulk", function(e){
        applyBulkAdjustment();
    });

    $(document).on("click",".view_cart_btn", function(e){
        $('#cart_a').click();
    });

    $(document).on("click",".category_btn", function(e){

        $('.category_btn').each(function() {
            $(this).css({'background-color': '#556E93'});
        });
        $('#products_a').click();
        $('#selected_pcat').text(' - '+$(this).html());
        $(this).css({'background-color': '#484c50'});
    });

    $(document).on('keydown', '#cform-cash_received_amt', function (event) {
        if (event.shiftKey == true) {
            event.preventDefault();
        }

        if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode == 110) {

        } else {
            event.preventDefault();
        }

        if($(this).val().indexOf('.') !== -1 && (event.keyCode == 190 || event.keyCode == 110))
            event.preventDefault(); 
        //if a decimal has been added, disable the "."-button

    });

    $(document).on('keydown', '.cc_charge_amt', function (event) {
        if (event.shiftKey == true) {
            event.preventDefault();
        }

        if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode == 110) {

        } else {
            event.preventDefault();
        }

        if($(this).val().indexOf('.') !== -1 && (event.keyCode == 190 || event.keyCode == 110))
            event.preventDefault(); 
        //if a decimal has been added, disable the "."-button

    });

    $(document).on('keydown', '.check_amount', function (event) {
        if (event.shiftKey == true) {
            event.preventDefault();
        }

        if ((event.keyCode >= 48 && event.keyCode <= 57) || 
            (event.keyCode >= 96 && event.keyCode <= 105) || 
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode == 110) {

        } else {
            event.preventDefault();
        }

        if($(this).val().indexOf('.') !== -1 && (event.keyCode == 190 || event.keyCode == 110))
            event.preventDefault(); 
        //if a decimal has been added, disable the "."-button

    });

    $(document).on('keyup', '.cc_charge_amt', function (event) {
        computeBalanceDisplayCardMulti();
    });

    $(document).on('keyup', '.check_amount', function (event) {
        computeBalanceDisplayCheckMulti();
    });

    $(document).on('keyup', '#cform-cash_received_amt', function () {
        // $(this).val(this.value.match(/[0-9]*/));
        if ($(this).val() != '') {
            var amt_to_pay = $('#float_trans_balance').val();
            var chg_amt = parseFloat($(this).val()) - parseFloat(amt_to_pay);
            if (chg_amt >= 0) {
                var change = chg_amt;  
                $('#cash_chg_amt').text(addCommas(change));  
            } else {
                var change = '0.00';
                $('#cash_chg_amt').text(change);
            }

            computeBalanceDisplay($(this).val());
            
        } else {
            $('#cash_chg_amt').text("0.00");
            computeBalanceDisplay(0);
        }
        

    });

    $(document).on("click",".numeric_key", function(e){
        if ($(this).data("value") == 'CLEAR') {
            $('#cform-cash_received_amt').val("");
            $('#cash_chg_amt').text(0.00);
        } else if ($(this).data("value") == 'DEL') {
            var str = $('#cform-cash_received_amt').val();
            $('#cform-cash_received_amt').val(str.substring(0, str.length - 1));
            var amt_to_pay = $('#float_trans_balance').val();
            var chg_amt = parseFloat($('#cform-cash_received_amt').val()) - amt_to_pay;
            if (chg_amt >= 0) {
                var change = chg_amt;  
                $('#cash_chg_amt').text(addCommas(change));  
            } else {
                var change = '0.00';
                $('#cash_chg_amt').text(change);
            }
            $('#cash_chg_amt').text(addCommas(change));
        } else {
            if($('#cform-cash_received_amt').val().indexOf('.') !== -1 && ($(this).data("value") == '.')) {
                e.preventDefault();
            } else {
                $('#cform-cash_received_amt')[0].value += $(this).data("value");
                var amt_to_pay = $('#float_trans_balance').val();
                var chg_amt = parseFloat($('#cform-cash_received_amt').val()) - amt_to_pay;
                if (chg_amt >= 0) {
                    var change = chg_amt;  
                    $('#cash_chg_amt').text(addCommas(change));  
                } else {
                    var change = '0.00';
                    $('#cash_chg_amt').text(change);
                }
            }
        }

        computeBalanceDisplay($('#cform-cash_received_amt').val());
    });

    

    $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
    });


    $(document).on("click",".cash_proceed_btn", function(e){
        var payment_amt = $('#cform-cash_received_amt').val();
        if (payment_amt > 0) {
            addToPayments('Cash', parseFloat(payment_amt));
            $('#cash_modal').modal('hide');
            $('#cform-cash_received_amt').val('');
            $('#checkout_modal').modal('show');
        } else {
            toastr['error']('Invalid payment amount.', 'Error');
        }
        
    });

    $(document).on("click",".card_proceed_btn", function(e){
        var complete_flag = true;

        $('#cc_form').find('.cc_field').each(function() {
            var cc_number = $(this).find('#cform-cc_card_number').val();
            var cc_name = $(this).find('#cform-cc_card_name').val();
            var payment_amt = $(this).find('#cform-cc_charge_amt').val(); 
            var cc_bank = $(this).find('#cform-cc_bank').val(); 
            var cc_expiry = $(this).find('#cform-cc_card_expiry').val(); 
            if (cc_number != '' && payment_amt != '' && cc_name != '' && cc_expiry != '') {
               if (complete_flag) {
                    complete_flag = true;
                }
            } else {
                complete_flag = false;
            }
        });

        if (complete_flag) {
            $('#cc_form').find('.cc_field').each(function() {
                var cc_number = $(this).find('#cform-cc_card_number').val();
                var cc_name = $(this).find('#cform-cc_card_name').val();
                var payment_amt = $(this).find('#cform-cc_charge_amt').val(); 
                var cc_bank = $(this).find('#cform-cc_bank').val(); 
                var cc_expiry = $(this).find('#cform-cc_card_expiry').val(); 
                var cc_details = cc_number + "," + cc_name + "," + cc_bank;

                addToPayments('Credit Card', parseFloat(payment_amt), cc_details);
                clearCreditCardModal();
            });

            $('#cc_modal').modal('hide');
            $('#checkout_modal').modal('show');
        } else {
            swal('Incomplete fields!','Please enter card details to continue','error');
        }   
    });

    $(document).on("click",".check_proceed_btn", function(e){
        var complete_flag = true;

        $('#check_form').find('.check_field').each(function() {
            var check_number = $(this).find('#cform-check_number').val();
            var payment_amt = $(this).find('#cform-check_amount').val(); 
            if (check_number != '' && payment_amt != '') {
                if (complete_flag) {
                    complete_flag = true;
                }
            } else {
                complete_flag = false;
            }
        });

        if (complete_flag) {
            $('#check_form').find('.check_field').each(function() {
                var check_number = $(this).find('#cform-check_number').val();
                var payment_amt = $(this).find('#cform-check_amount').val(); 

                addToPayments('Check', parseFloat(payment_amt));
                clearCheckModal();
            });

            $('#check_modal').modal('hide');
            $('#checkout_modal').modal('show');
        } else {
            swal('Incomplete fields!','Please enter check details to continue','error');
        }
    });

    $(document).on("click",".remove_customer", function(e){
        e.preventDefault();            
        var tr = $(this).closest('tr');
        tr.remove();
        return false;

    });

    $(document).on("click",".remove_payment_row", function(e){
        e.preventDefault();            
        var tr = $(this).closest('tr');
        tr.remove();

        //count number of payments in list
        var rowCount = $('#payments_table tr').length-1;

        if (rowCount == 0) {
            var field = '<tr class=\"init_row_payment\">';     
            field += '<td colspan=\"3\"><p>No payments added</p></td>';
            field += '</tr>';

            $('#payments_table').prepend(field);
        }

        computeBalance();
        toastr['success']('Payment removed', 'Success');
        return false;
    });

    $(document).on("click",".add_card_btn", function(e){
        $("#cc_fields").children().clone(true,true).find("input").val("").end().appendTo('#cc_form');
        $('input[name=cc_card_number]').payment('formatCardNumber');
        $('input[name=cc_card_cvv]').payment('formatCardCVC');
        $('input[name=cc_card_expiry').payment('formatCardExpiry');

        var objDiv = document.getElementById("cc_form");
        objDiv.scrollTop = objDiv.scrollHeight;

        return false;
    });

    $(document).on("click",".add_check_btn", function(e){
        $("#check_fields").children().clone(true,true).find("input").val("").end().appendTo('#check_form');
        var objDiv = document.getElementById("check_form");
        objDiv.scrollTop = objDiv.scrollHeight;
        return false;
    });

    $(document).on("click",".checkout_btn", function(e){
        if ($('#cart_table tr').length > 1) {
            $('#checkout_modal').modal('show');
            var rowCount = $('#payments_table tr').length-1;
            if (parseFloat($('#float_trans_balance').val()) == 0 && rowCount == 0) {
                $('.co_amt_to_pay').text($('#transaction_amt_to_pay').val());
                $('.co_balance').text($('#transaction_amt_to_pay').val());
            } else {
                $('.co_amt_to_pay').text($('#transaction_amt_to_pay').val());
            }
        } else {
            toastr['warning']('Add products to cart before proceeding to next step.', 'Warning');
        }
        
    });


    $('.bulk_adj').hide();
    $('.clear_discount').hide();
    $('.checkout_btn').hide();
    $('.orig_totals_row').hide();
    $('.orig_price_h3').hide();
    $('.bulk_discount_h4').hide();
    $('.savings_h4').hide();
    

    $('#cform-new_price').val('');
    $('#cgroup-new_price').hide();
    hideBulkAmounts();





    $(document).on("click",".co_cash_payment", function(e){
        $('#checkout_modal').modal('hide');
        $('#cash_modal').modal('show');
    });

    $(document).on("click",".co_cc_payment", function(e){
        $('#checkout_modal').modal('hide');
        $('#cc_modal').modal('show');
    });

    $(document).on("click",".co_check_payment", function(e){
        $('#checkout_modal').modal('hide');
        $('#check_modal').modal('show');
    });

    
    $(document).on("click",".cash_go_back", function(e){
        $('#cform-cash_received_amt').val('');
        $('#cash_modal').modal('hide');
        $('#checkout_modal').modal('show');
        computeBalanceDisplay(0);
    });

    $(document).on("click",".cc_go_back", function(e){
        clearCreditCardModal();
        $('#cc_modal').modal('hide');
        $('#checkout_modal').modal('show');
        computeBalanceDisplayCardMulti(0);
    });

    $(document).on("click",".check_go_back", function(e){
        clearCheckModal();
        $('#check_modal').modal('hide');
        $('#checkout_modal').modal('show');
        computeBalanceDisplayCheckMulti(0);
    });

    //Proceed
    $(document).on("click",".proceed_btn", function(e){
        proceedToTransaction();
    });
});
</script>
{% endblock %}