{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}
{% block content %}
    <div class="page-content">
        <div class="row" style="padding-top: 40px;">
            <div class="col-md-3"></div>
            <div class="col-md-2" style="padding: 5px !important;">
                <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">
                    <a href="{{ path('gist_inv_existing_stock_index') }}" style="text-decoration: none;">
                        <img src="bundles/gisttemplate/assets/global/img/inv_existing_stock.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>Existing Stock</b></span></div>
                    </a>
                </div>
            </div>
            <div class="col-md-2" style="padding: 5px !important;">
                <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">
                    <a href="{{ path('gist_inv_damaged_items_index') }}" class="" style="text-decoration: none;">
                        <img src="bundles/gisttemplate/assets/global/img/inv_damaged_item.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>Damaged Item</b></span></div>
                    </a>
                </div>
            </div>
            <div class="col-md-2" style="padding: 5px !important;">
                <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">
                    <a href="{{ path('gist_inv_stock_transfer_index') }}" style="text-decoration: none;">
                        <img src="bundles/gisttemplate/assets/global/img/inv_transfer.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>Transfer</b></span></div>
                    </a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2" style="padding: 5px !important;">
                <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">
                    <a href="{{ path('gist_inv_counting_index') }}" class="" style="text-decoration: none;">
                        <img src="bundles/gisttemplate/assets/global/img/inv_counting.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>Counting</b></span></div>
                    </a>
                </div>
            </div>
            <div class="col-md-2" style="padding: 5px !important;">
                <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">
                    <a href="{{ path('gist_inv_open_tester_index') }}" style="text-decoration: none;" onclick="">
                        <img src="bundles/gisttemplate/assets/global/img/inv_try_me.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>Open Tester</b></span></div>
                    </a>
                </div>
            </div>
            <div class="col-md-2" style="padding: 5px !important;">
                <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">
                    <a href="{{ path('gist_pos_menu_index') }}" class="" style="text-decoration: none;">
                        <img src="bundles/gisttemplate/assets/global/img/inv_go_back.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>Go back</b></span></div>
                    </a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}