{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}
{% block content %}
<div class="page-content landing">
    <div class="row">
        <div class="col-md-12">
        <div style="margin-top: 10px;">&nbsp;</div>
        <img src="bundles/gisttemplate/assets/global/img/cosmeti_logo.png" align="middle" style="display: block; margin: 0 auto; width: 280px;">
        </div>
    </div>
    <div style="margin-top: 20px;">&nbsp;</div>
    <div class="row">
        <div class="col-md-3">
        <a href="javascript:void(0)" style="text-decoration: none;">
            <img src="bundles/gisttemplate/assets/global/img/erp_logo.png" align="middle" style="display: block; margin: 0 auto; width: 150px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 20px; color: black;">Reports</span></div>
        </a>
        </div>
        <div class="col-md-3">
        <a href="javascript:void(0)" class="pos_button" style="text-decoration: none;">
            <img src="bundles/gisttemplate/assets/global/img/pos_logo.png" align="middle" style="display: block; margin: 0 auto; width: 150px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 20px; color: black;">POS</span></div>
        </a>
        </div>
        <div class="col-md-3">
            <img src="bundles/gisttemplate/assets/global/img/crm_logo.png" align="middle" style="display: block; margin: 0 auto; width: 150px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 20px; color: black;">CRM</span></div>
        </div>
        <div class="col-md-3">
        <a href="{{path('gist_pos_settings')}}" class="settings_btn" style="text-decoration: none;">
            <img src="bundles/gisttemplate/assets/global/img/settings.png" align="middle" style="display: block; margin: 0 auto; width: 150px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 20px; color: black;">Settings</span></div>
        </a>
        </div>
    </div>
</div>

<div id="pos_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" style="width: 800px !important;">
            <div class="modal-content">
                <form method="post" action="">
                    {#<div class="modal-header">
                        <a type="button" class="close" data-dismiss="modal" aria-hidden="true"></a>
                        <h4 id="form_title" class="modal-title">POS</h4>
                    </div>#}
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            <div class="col-md-3" class="proceed_btn_reg" onclick="proceedToTransaction('reg')">
                                <a href="{{path('gist_pos_index')}}"><img src="{{ asset('bundles/gisttemplate/assets/global/img/pos.png') }}"></a>
                                <h4>Point-of-Sales</h4>
                            </div>
                            <div class="col-md-3" class="proceed_btn_reg" onclick="proceedToTransaction('reg')">
                                <a href="javascript:void(0)"><img src="{{ asset('bundles/gisttemplate/assets/global/img/inventory.png') }}"></a>
                                <h4>Inventory</h4>
                            </div>
                            <div class="col-md-3" class="proceed_btn_per"  onclick="clock('IN')">
                                <a href="javascript:void(0)"><img src="{{ asset('bundles/gisttemplate/assets/global/img/clock_in.png') }}"></a>
                                <h4>Clock-in</h4>
                            </div>
                            <div class="col-md-3" class="proceed_btn_per"  onclick="clock('OUT')">
                                <a href="javascript:void(0)"><img src="{{ asset('bundles/gisttemplate/assets/global/img/clock_out.png') }}"></a>
                                <h4>Clock-out</h4>
                            </div>
                        </div>
                    </div>
                    {#<div class="modal-footer">
                        <a class="btn default green proceed_btn" style="margin=0" href="javascript:void(0)">Proceed</a>
                        <button type="button" data-dismiss="modal" class="btn default" data-toggle="modal">Cancel</button>
                    </div>#}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
function ajaxGetProductCategories()
{
    $( "#prod_cats" ).empty();

    var url = "http://erp.cilanthropist.co/inventory/pos/get/product_categories";
    $.getJSON(url, function(json){  
       $.each(json, function(i, item) {
            // alert(item.name);
            $("#prod_cats").append("<button class=\"btn btn-md btn-block\" onclick=\"ajaxGetProductCategories("+item.id+")\" style=\"background-color: #556E93; color: #ffffff;\">"+item.name+"</button>");
        });
    });
}
function ajaxGetProductCategories(cid)
{
    
    var url = "http://erp.cilanthropist.co/inventory/pos/get/products/{ cid: ':cid'}";
    url = url.replace(":cid", cid);
    $.getJSON(url, function(json){  
       $.each(json, function(i, item) {
            alert(item.name);

        });
    });
}

function clock(type)
{
    var url = '{{ path("gist_main_clock_tap", {'type': 'type'}) }}'; 
    url = url.replace("type", type);
    $.getJSON(url, function(json){  
       $.each(json, function(i, x) {
            if (x.status == 'ok') {
                swal('Clock '+type+' successful!','','success');
                $('#pos_modal').modal('hide');
            } else {
                swal('Clock '+type+' not successful!','','error');
            }
        });
    });
}

$(document).ready(function(){
    ajaxGetProductCategories();

    var dept = "{{app.user.getDepartment|escape('js')}}";
    if (dept == 'Sales') {
        $('#pos_modal').modal('show');
    }

    $(document).on("click",".sync_data", function(e){
        var route = "{{ path('gist_main_sync_pos_data')|escape('js') }}";
        $.getJSON(route, function(json){  
           $.each(json, function(i, x) {
                swal('POS Data Synced!','POS Transactions sent to ERP','success');
            });
        });
    });

    $(document).on("click",".pos_button", function(e){
        $('#pos_modal').modal('show');
    });
});
</script>
{% endblock %}