{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}
{% block content %}
<div class="page-content">
    <div class="row" style="padding-top: 40px;">
        <div class="col-md-3"></div>
        <div class="col-md-2" style="padding: 5px !important;">
            <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">
                <a href="javascript:void(0)" style="text-decoration: none;">
                    <img src="bundles/gisttemplate/assets/global/img/competition.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>Competition</b></span></div>
                </a>
            </div>
        </div>
        <div class="col-md-2" style="padding: 5px !important;">
            <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">
                <a href="javascript:void(0)" class="" style="text-decoration: none;">
                    <img src="bundles/gisttemplate/assets/global/img/appointment.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>Appointment</b></span></div>
                </a>
            </div>
        </div>
        <div class="col-md-2" style="padding: 5px !important;">
            <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">
                <a href="javascript:void(0)" style="text-decoration: none;" onclick="clock('IN')">
                    <img src="bundles/gisttemplate/assets/global/img/clock.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>Clock In/Out</b></span></div>
                </a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2" style="padding: 5px !important;">
            <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">
                <a href="javascript:void(0)" class="" style="text-decoration: none;">
                    <img src="bundles/gisttemplate/assets/global/img/chat.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>Chat</b></span></div>
                </a>
            </div>
        </div>
        <div class="col-md-2" style="padding: 5px !important;">
            <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">
                <a href="{{path('gist_inventory_menu_index')}}" style="text-decoration: none;" onclick="">
                    <img src="bundles/gisttemplate/assets/global/img/inventory.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>Inventory</b></span></div>
                </a>
            </div>
        </div>
        <div class="col-md-2" style="padding: 5px !important;">
            <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">
                <a href="javascript:void(0)" class="" style="text-decoration: none;">
                    <img src="bundles/gisttemplate/assets/global/img/ticketing.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>Ticketing</b></span></div>
                </a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2" style="padding: 5px !important;">
            <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">
                <a href="{{path('gist_pos_index')}}" class="pos_menu" style="text-decoration: none;">
                    <img src="bundles/gisttemplate/assets/global/img/pos_logo.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>P.O.S.</b></span></div>
                </a>
            </div>
        </div>
        <div class="col-md-2" style="padding: 5px !important;">
            <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">
                <a href="javascript:void(0)" style="text-decoration: none;">
                    <img src="bundles/gisttemplate/assets/global/img/personal.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>Personal Zone</b></span></div>
                </a>
            </div>
        </div>
        <div class="col-md-2" style="padding: 5px !important;">
            <div class="thumbnail" style="margin: 0px !important; border-width: 3px !important; border-color: #5d5d5d !important; border-radius: 5px !important;">  
                <a href="{{path('gist_pos_reports')}}" class="reports_btn" style="text-decoration: none;">
                    <img src="bundles/gisttemplate/assets/global/img/reports.png" align="middle" style="display: block; margin: 0 auto; width: 120px;"><div style="display: table; margin: 0 auto;"><span style="font-size: 18; color: black;"><b>Reports</b></span></div>
                </a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>


    <!--  -->

</div>

{% endblock %}

{% block js %}
<script>


function clock(type)
{
    var url = '{{ path("gist_main_clock_tap", {'type': 'type'}) }}'; 
    url = url.replace("type", type);
    $.getJSON(url, function(json){  
       $.each(json, function(i, x) {
            if (x.status == 'ok') {
                swal('Clock '+type+' successful!','','success');
                $('#pos_modal').modal('hide');
            } else {
                swal('Clock '+type+' not successful!','','error');
            }
        });
    });
}

$(document).ready(function(){
    var dept = "{{app.user.getDepartment|escape('js')}}";
    if (dept == 'Sales') {
        $('#pos_modal').modal('show');
    }

    $(document).on("click",".sync_data", function(e){
        var route = "{{ path('gist_main_sync_pos_data')|escape('js') }}";
        $.getJSON(route, function(json){  
           $.each(json, function(i, x) {
                swal('POS Data Synced!','POS Transactions sent to ERP','success');
            });
        });
    });
});
</script>
{% endblock %}