{% import "GistTemplateBundle::menu.html.twig" as menu %}
{% import "GistTemplateBundle::form.html.twig" as form %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CosmetiGroup - Dashboard{% endblock %}</title>
    <meta charset="utf-8">
    <meta content="$1" name="description">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    {% block meta %}{% endblock %}


    {% stylesheets
        'bundles/gisttemplate/assets/global/plugins/sweetalert-master/dist/sweetalert.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />

    {% endstylesheets %}


    <link href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"><!-- <link rel="stylesheet" href="assets/css/normalize.css"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/gisttemplate/assets/admin/pages/css/hamburgers.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/gisttemplate/assets/admin/pages/css/style.css') }}">



    {% stylesheets
        'bundles/gisttemplate/assets/global/plugins/bootstrap-toastr/toastr.min.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block org_css %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    {% embed "GistTemplateBundle::top_nav_menu.html.twig" %}{% endembed %}
    <div class="row page-content">
        <div class=" fullwidth boxed-container">
            <!-- SUB NAV -->
            {% embed "GistTemplateBundle::top_nav_submenu.html.twig" %}{% endembed %}

            <!-- CONTENT -->
            {% for flash_msg in app.session.flashbag.get('error') %}
                {# <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <strong>Error: </strong>
                    {{ flash_msg }}
                </div> #}
                {{ form.hidden('error[]',flash_msg) }}
            {% endfor %}

            {% for flash_msg in app.session.flashbag.get('success') %}
                {# <div clasSs="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <strong>Success: </strong>
                    {{ flash_msg }}
                </div> #}
                {{ form.hidden('success[]',flash_msg) }}
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer class="footer row">
        <div class="container-fluid">
            {% if tax_coverage|default('') != '' %}
                <div style="color: white !important;">
                    <b>Reference: <a href="{{ path('gist_pos_reports_edit_form', { 'id': transaction_object.getID|default(0) }) }}" target="_blank" style="text-decoration: none; color: white;"><span id="ref_trans">N/A</span></a></b>&nbsp;<b>|</b>&nbsp;<b>Customer: <span id="footer_customer">N/A</span></b>&nbsp;<b>|</b>&nbsp;<b>Mode: <span id="pos_mode">Normal</span></b>&nbsp;<b>|</b>&nbsp;<b>E.A.: <span id="ea_amt">0</span></b>&nbsp;<b>|</b>&nbsp;<b>Status: Connected</b>
                </div>
            {% endif %}
            <span>2019 © CosmetiGroup Int'l Corp. | 22nd Floor Pearl Bank Center 146 Valero St., Salcedo Village, Makati City</span>
        </div>

    </footer>
    {% block modal %}{% endblock %}
</div>
{#<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>#}
{#<script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>#}
{#<script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>#}
{#<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>#}
{#<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>#}

<script src="{{ asset('bundles/gisttemplate/assets/admin/pages/scripts/main.js') }}"></script>

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/respond.min.js') }}"></script>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/gisttemplate/assets/global/plugins/jquery-migrate-1.2.1.min.js') }}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

{% javascripts
    'bundles/gisttemplate/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js'
    'bundles/gisttemplate/assets/global/plugins/bootstrap/js/bootstrap.min.js'
    'bundles/gisttemplate/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'
    'bundles/gisttemplate/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.js'
    'bundles/gisttemplate/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
    'bundles/gisttemplate/assets/global/plugins/jquery.blockui.min.js'
    'bundles/gisttemplate/assets/global/plugins/jquery.cokie.min.js'
    'bundles/gisttemplate/assets/global/plugins/uniform/jquery.uniform.min.js'
    'bundles/gisttemplate/assets/global/plugins/mustache.min.js'
%}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
{% javascripts
    'bundles/gisttemplate/assets/global/scripts/metronic.js'
    'bundles/gisttemplate/assets/admin/layout/scripts/layout.js'
    'bundles/gisttemplate/assets/global/plugins/select2/dist/js/select2.min.js'
    'bundles/gisttemplate/assets/global/plugins/jquery-validation/js/jquery.validate.min.js'
    'bundles/gisttemplate/assets/global/plugins/jquery-validation/js/additional-methods.min.js'
    'bundles/gisttemplate/assets/global/scripts/validation.js'
    'bundles/gisttemplate/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js'
    'bundles/gistnotification/js/notification.js'
    'bundles/gisttemplate/assets/global/scripts/template.js'
    'bundles/gistcontact/js/gist.has_phones.js'
    'bundles/gisttemplate/assets/global/plugins/bootstrap-typeahead/bootstrap-typeahead.min.js'
    'bundles/gistmedia/js/lightbox.min.js'
    'bundles/gisttemplate/assets/admin/pages/scripts/components-pickers.js'
    'bundles/gisttemplate/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'
    'bundles/gisttemplate/assets/global/plugins/clockface/js/clockface.js'
    'bundles/gisttemplate/assets/global/plugins/bootstrap-daterangepicker/moment.min.js'
    'bundles/gisttemplate/assets/global/plugins/gist_cardswipe/dist/jquery.cardswipe.js'
    'bundles/gisttemplate/assets/global/plugins/stripe-payment/lib/jquery.payment.js'
    'bundles/gisttemplate/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js'
    'bundles/gisttemplate/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js'
    'bundles/gisttemplate/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
    'bundles/gisttemplate/assets/global/plugins/bootbox/bootbox.min.js'
    'bundles/gistmedia/js/gist_media.js'
    'bundles/gistmedia/js/gist_dropzone_file.js'
    'bundles/gisttemplate/assets/global/plugins/gist-orgchart/jquery.orgchart.js'
    'bundles/gisttemplate/assets/global/plugins/gist-orgchart/jquery.orgchart.min.js'
    'bundles/gisttemplate/assets/global/plugins/sweetalert-master/dist/sweetalert.min.js'
    'bundles/gisttemplate/assets/global/plugins/gist_pos/pos.min.js'
    'bundles/gisttemplate/assets/global/plugins/gist_pos/pos.main.js'
    'bundles/gisttemplate/assets/global/plugins/gist_pos/pos_refund.js'
    'bundles/gisttemplate/assets/global/plugins/jquery-mixitup/jquery.mixitup.min.js'
    'bundles/gisttemplate/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js'
    'bundles/gisttemplate/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js'
    'bundles/gisttemplate/assets/admin/pages/scripts/portfolio.js'
    'bundles/gisttemplate/assets/global/plugins/dropzone/dropzone.js'
    'bundles/gisttemplate/assets/admin/pages/scripts/form-dropzone.js'
    'bundles/gisttemplate/assets/global/plugins/data-tables/jquery.dataTables.min.js'
    'bundles/gisttemplate/assets/global/plugins/data-tables/jquery.dataTables.fnreloadajax.js'
    'bundles/gisttemplate/assets/global/plugins/data-tables/DT_bootstrap.js'
    'bundles/gisttemplate/assets/admin/pages/scripts/form-validation.js'
    'bundles/gisttemplate/assets/global/plugins/highcharts/highcharts.js'
    'bundles/gisttemplate/assets/global/plugins/fullcalendar-2.3.1/lib/moment.min.js'
    'bundles/gisttemplate/assets/global/plugins/fullcalendar-2.3.1/fullcalendar.min.js'
    'bundles/gisttemplate/assets/global/plugins/moment.min.js'
    'bundles/gisttemplate/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
    'bundles/gisttemplate/assets/global/plugins/bootstrap-datepaginator/bootstrap-datepaginator.min.js'
    'bundles/gisttemplate/assets/global/plugins/bootstrap-toastr/toastr.min.js'
    'bundles/gisttemplate/assets/global/plugins/bootstrap-summernote/summernote.min.js'
    'bundles/gisttemplate/assets/global/plugins/photobooth.min.js'
    'bundles/gisttemplate/assets/global/plugins/axios/axios.min.js'
%}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
<!-- END PAGE LEVEL SCRIPTS -->
{#<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>#}
<script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% if app.request.get('_route') not in [
    'gist_pos_reports',
    'gist_pos_refund_reports',
    'gist_inv_damaged_items_add_entries_form',
    'gist_inv_stock_transfer_add_form',
    'gist_inv_open_tester_add_entries_form',
]
%}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
{% endif %}

<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
    jQuery(document).ready(function($) {
        startTime();
        $('#ddlink--prof_pic').alert();

    } );

    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        var mm = formatMonthName(today.getMonth());
        var day = formatCurrentDay(today.getDay());
        var dd = today.getDate();
        var time = formatAMPM(today);
        var yy = today.getFullYear();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('top_nav_dt').innerHTML =
            day + " " + mm + " " + dd + ", " + yy + " - " +time;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }

    function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var s = date.getSeconds();
        var ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
    }

    function formatMonthName(monthN)
    {
        var month = new Array();
        month[0] = "January";
        month[1] = "February";
        month[2] = "March";
        month[3] = "April";
        month[4] = "May";
        month[5] = "June";
        month[6] = "July";
        month[7] = "August";
        month[8] = "September";
        month[9] = "October";
        month[10] = "November";
        month[11] = "December";
        return month[monthN];
    }

    function formatCurrentDay(dayN)
    {
        var weekday = new Array(7);
        weekday[0] =  "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";
        return weekday[dayN];
    }

    function refreshMenu()
    {
        $('.nav-item').removeClass('active');
    }

    function refreshSubmenu()
    {
        $('.subnav--counting').hide();
        $('.subnav--pos').hide();
    }

    $('.nav-item a').click(function()
    {
        refreshMenu();
        $(this).closest('.nav-item').addClass('active');
    });

    $('.nav-item #menu-inventory').click(function()
    {
        refreshSubmenu();
        $('.subnav--counting').show();
    });

    $('.nav-item #menu-pos').click(function()
    {
        refreshSubmenu();
        $('.subnav--pos').show();
    });

    // $('.nav-item #menu-pos').click(function() {
    //     $('.subnav--pos').show();
    // });
</script>
{% block js %}{% endblock %}
</body>
</html>