<style type="text/css">
p {
	margin-bottom: 10px !important;
	margin-top: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
div.container4 {
    height: 100%;
    width: 100%;
    position: relative 
}
div.container_logo {
	width: 100%;
	max-height: 50px;
    position: relative; 
}
.img_logo {
	width: 300px;
   position: absolute;
   left: 50%;
   margin-left: -150px;
}
.page_label {
	text-align:center;
}
.parag {
    margin: 0;
    position: absolute;
    top: 50%;
    text-align:center;
    left: 50%;
    margin-right: -50%;
    font-size: 28px;
}
	</style>
<page>
<div style="width: 100%; height: 205px; vertical-align: middle; margin-bottom: 5px;">
<img src="bundles/gisttemplate/assets/global/img/cosmeti_logo.jpg" style="height: 200px; margin-left: 65px;" align="left" />
</div>
<div style="width: 100%; height: 45px; vertical-align: middle; margin-bottom: -10px;">
<p style="font-size: 20px; margin-left: 60px;"><b>CosmetiGroup Int'l Corp.</b></p>
</div>
<div style="width: 100%; height: 15px; vertical-align: middle; margin-bottom: 15px;">
<p style="font-size: 12px; margin-left: 60px;" style="text-align: center;"><b>22nd Floor Pearl Bank Center 146 Valero St., Salcedo Village, Makati City</b><br>TID: 000-00A1 PC S/N: 00003521</p>
</div>

<br>
<!-- REGULAR PRICED ITEMS -->
{% if transaction.getTransactionType|default('') == 'reg' or transaction.getTransactionType|default('') == 'bulk' %}
<div style="width: 100%; height: 15px; vertical-align: middle; margin-bottom: 15px;font-size: 16px;">
<table width="300">
{% for t in transaction.getItems|default('') %}
	<tr>
		<td width="240">{{t.getName}}</td>
		<td width="90" style="text-align: right; position: absolute;">P{{t.getOrigPrice|number_format(2,'.',',')}}</td>
	</tr>
{% endfor %}
<tr>
	<td width="240"><b>Subtotal</b></td>
	<td width="90" style="text-align: right; position: absolute;"><b>P{{transaction.getCartOrigTotal|number_format(2,'.',',')}}</b></td>
</tr>
</table>
</div>
{% elseif transaction.getTransactionType|default('') == 'per' %}
<div style="width: 100%; height: 15px; vertical-align: middle; margin-bottom: 15px;font-size: 16px;">
<table width="300">
{% for t in transaction.getItems|default('') %}
	<tr>
		<td width="240">{{t.getName}}</td>
		<td width="90" style="text-align: right; position: absolute;">&nbsp;</td>
	</tr>
	<tr>
		<td width="240" style="font-size: 14px;"><i>&nbsp;&nbsp;&nbsp;&nbsp;{{t.getDiscountTypeFormatted}} P{{t.getDiscountValue}}</i></td>
		<td width="90" style="text-align: right; position: absolute;">P{{t.getAdjustedPrice|number_format(2,'.',',')}}</td>
	</tr>
{% endfor %}
<tr style="margin-top: 15px;">
	<td width="240"><b>Subtotal</b></td>
	<td width="90" style="text-align: right; position: absolute;"><b>P{{transaction.getCartNewTotal|number_format(2,'.',',')}}</b></td>
</tr>
</table>
</div>
{% endif %}
<br>
<br>
<br>
<!-- TOTALS -->
{% if transaction.getTransactionType|default('') == 'bulk' %}
	<div style="width: 100%; height: 15px; vertical-align: middle; margin-bottom: 15px;font-size: 16px;">
	<table width="300">
	<tr>
		<td width="180">Bulk Discount</td>
		<td width="150" style="text-align: right; position: absolute;">{{transaction.getBulkDiscountType|default('')}}</td>
	</tr>
	</table>
	</div>
{% endif %}
<div style="width: 100%; height: 15px; vertical-align: middle; margin-bottom: 15px;font-size: 16px;">
<table width="300">
<tr>
	<td width="240">Sale Total</td>
	<td width="90" style="text-align: right; position: absolute;">P{{total_sales|number_format(2,'.',',')}}</td>
</tr>
{% for t in transaction.getPayments|default('') %}
	<tr>
		<td width="240">{{t.getType}}</td>
		<td width="10" style="text-align: right;" align="right">P{{t.getAmount|number_format(2,'.',',')}}</td>
	</tr>
{% endfor %}
<tr>
	<td width="240">Change</td>
	<td width="90" style="text-align: right; position: absolute;">P{{(transaction.getTransactionTotal-transaction.getTotalPayments)|number_format(2,'.',',')}}</td>
</tr>
</table>
</div>
<div style="width: 100%; height: 15px; vertical-align: middle; margin-bottom: 15px;font-size: 16px;">
<table width="300">

{% if transaction.getTransactionType|default('') == 'per' or transaction.getTransactionType|default('') == 'bulk' %}
<tr>
	<td width="240">VATable Sales</td>
	<td width="90" style="text-align: right; position: absolute;">P{{transaction.getNewAmtNetVat|number_format(2,'.',',')}}</td>
</tr>
{% elseif transaction.getTransactionType|default('') == 'reg' %}
<tr>
	<td width="240">VATable Sales</td>
	<td width="90" style="text-align: right; position: absolute;">P{{transaction.getOrigAmtNetVat|number_format(2,'.',',')}}</td>
</tr>
{% endif %}
<tr>
	<td width="240">VAT-Exempt Sale</td>
	<td width="90" style="text-align: right; position: absolute;">P0.00</td>
</tr>
<tr>
	<td width="240">VAT-Zero Rated Sale</td>
	<td width="90" style="text-align: right; position: absolute;">P0.00</td>
</tr>
</table>
</div>

<div style="width: 100%; height: 15px; vertical-align: middle; margin-bottom: 15px;font-size: 16px;">
<table width="300">

{% if transaction.getTransactionType|default('') == 'per' or transaction.getTransactionType|default('') == 'bulk' %}
<tr>
	<td width="240">Total Sale</td>
	<td width="90" style="text-align: right; position: absolute;">P{{transaction.getNewAmtNetVat|number_format(2,'.',',')}}</td>
</tr>
<tr>
	<td width="240">VAT</td>
	<td width="90" style="text-align: right; position: absolute;">P{{transaction.getNewVatAmt|number_format(2,'.',',')}}</td>
</tr>
{% elseif transaction.getTransactionType|default('') == 'reg' %}
<tr>
	<td width="240">Total Sale</td>
	<td width="90" style="text-align: right; position: absolute;">P{{transaction.getOrigAmtNetVat|number_format(2,'.',',')}}</td>
</tr>
<tr>
	<td width="240">VAT</td>
	<td width="90" style="text-align: right; position: absolute;">P{{transaction.getOrigVatAmt|number_format(2,'.',',')}}</td>
</tr>
{% endif %}
<tr>
	<td width="240"><b>Amount Due</b></td>
	<td width="90" style="text-align: right; position: absolute;"><b>P{{total_sales|number_format(2,'.',',')}}</b></td>
</tr>
</table>
</div>
<page_footer>
    <div align="center" style="margin: 0;"><p style="color: black; font-size: 12px; margin: 0;">THIS INVOICE/RECEIPT SHALL BE VALID FOR<br>FIVE (5) YEARS FROM THE DATE OF THE<br>PERMIT TO USE<br>THIS SERVES AS AN OFFICIAL RECEIPT</p></div>
    <div align="center" style="margin: 0;"></div>
	</page_footer>
</page>