{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}
{% block content %}
    <div class="page-content">
        <form method="post" class="form-horizontal">
            <div class="row" style="width: 100%;">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h2 class="form-section">{{ list_title }}</h2>
                    <br>
                    <!--BEGIN TABS-->
                    <div class="tabbable tabbable-custom tabbable-full-width">
                        <!-- MAIN TABS -->
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_sent" data-toggle="tab">
                                    Outbox </a>
                            </li>
                            <li>
                                <a href="#tab_receive" data-toggle="tab">
                                    Inbox </a>
                            </li>
                        </ul>
                        <!-- END MAIN TABS -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_sent">
                                {# TRANSFER INDEX #}
                                <a href="{{ path(route_add) }}" class="btn green">Add New</a>
                                <table class="table table-striped table-bordered table-hover" id="sent_table">
                                    <thead>
                                    <tr>
                                        {% for col in grid_cols %}
                                            {% if (loop.last) %}
                                                <th style="width: 165px">{{ col.getLabel }}</th>
                                            {% else %}
                                                <th>{{ col.getLabel }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in sent %}
                                        <tr>
                                            <td>{{ s.id }}</td>
                                            <td>{{ s.status }}</td>
                                            <td>{{ s.date_create }}</td>
                                            <td>{{ s.source }}</td>
                                            <td>{{ s.destination }}</td>
                                            <td><a href="{{ path(route_edit, { 'id': s.id }) }}" class="btn default btn-xs blue-madison"><i class="fa fa-edit"></i> View</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {# END TRANSFER INDEX #}
                            </div>
                            <div class="tab-pane" id="tab_receive">
                                {# RECEIVE INDEX #}
                                <table class="table table-striped table-bordered table-hover" id="receive_table">
                                    <thead>
                                    <tr>
                                        {% for col in grid_cols %}
                                            {% if (loop.last) %}
                                                <th style="width: 165px">{{ col.getLabel }}</th>
                                            {% else %}
                                                <th>{{ col.getLabel }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for r in receive %}
                                        <tr>
                                            <td>{{ r.id }}</td>
                                            <td>{{ r.status }}</td>
                                            <td>{{ r.date_create }}</td>
                                            <td>{{ r.source }}</td>
                                            <td>{{ r.destination }}</td>
                                            <td><a href="{{ path(route_edit, { 'id': r.id }) }}" class="btn default btn-xs blue-madison"><i class="fa fa-edit"></i> View</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {# END RECEIVE INDEX #}
                            </div>
                        </div>
                    </div>
                    <!--END TABS-->
                </div>
                <div class="col-md-1"></div>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script>

        $(document).ready(function() {


            var sent_dTable;
            var receive_dTable;


            sent_dTable = $('#sent_table').dataTable({
                "bProcessing": true,
                "bServerSide": false,
                {#"sAjaxSource": "{{ path('gist_inv_stock_transfer_grid') }}",#}
                "iDisplayLength": 10,
                "bFilter" : false,
                "bInfo" : false,
                "bLengthChange": false,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aaSorting": [[ 0, "desc" ]],
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [{{ grid_cols|length - 1}}] },
                ]
            });

            receive_dTable = $('#receive_table').dataTable({
                "bProcessing": true,
                "bServerSide": false,
                {#"sAjaxSource": "{{ path('gist_inv_stock_transfer_grid') }}",#}
                "iDisplayLength": 10,
                "bFilter" : false,
                "bInfo" : false,
                "bLengthChange": false,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aaSorting": [[ 0, "desc" ]],
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [{{ grid_cols|length - 1}}] },
                ]
            });


        });
    </script>
{% endblock %}