{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}
{% block content %}
    <!-- CONTENT -->
    <form method="post" class="form-horizontal">
        <div class="row">
            <div class="col-12">
                <h2 class="page-title">Transfer</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-pills nav-pills-v1 mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="pills-to_send" aria-selected="false" class="nav-link active" data-toggle="pill" href="#pills-to_send" id="pills-to_send-tab" role="tab">To Send</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="pills-to_received" aria-selected="true" class="nav-link" data-toggle="pill" href="#pills-to_received" id="pills-to_received-tab" role="tab">To Received</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <!-- SUBMITTED COUTING FORMS -->
                    <div aria-labelledby="pills-to_send-tab" class="tab-pane fade show active" id="pills-to_send" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-inline-block">
                                    <a href="{{ path(route_add) }}" class="btn btn-primary btn-v1 mr-3 mt-3 mb-3">+ Add New</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table-v1">
                            <table id="table--to_send" class="table table-bordered" data-data-table="true" style="width:100%">
                                <thead>
                                <tr>
                                    {#{% for col in grid_cols %}#}
                                    {#{% if (loop.last) %}#}
                                    {#<th style="width: 165px">{{ col.getLabel }}</th>#}
                                    {#{% else %}#}
                                    {#<th>{{ col.getLabel }}</th>#}
                                    {#{% endif %}#}
                                    {#{% endfor %}#}
                                    <th style="width: 8%">ID</th>
                                    <th style="width: 13%">Status</th>
                                    <th style="width: 20%">Date Create</th>
                                    <th style="width: 25%">Source</th>
                                    <th style="width: 25%">Destination</th>
                                    <th style="width: 9%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for s in sent %}
                                    <tr>
                                        <td>{{ s.id }}</td>
                                        <td>{{ s.status }}</td>
                                        <td>{{ s.date_create }}</td>
                                        <td>{{ s.source }}</td>
                                        <td>{{ s.destination }}</td>
                                        <td><span class="text-green"><i class="fas fa-eye"></i> <a href="{{ path(route_edit, { 'id': s.id }) }}" class="text-underline text-green">View</a></span></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- COUNTING -->
                    <div aria-labelledby="pills-to_received-tab" class="tab-pane fade" id="pills-to_received" role="tabpanel">
                        <div class="table-responsive table-v1">
                            <table id="table--to_received" class="table table-bordered" data-data-table="true" style="width:100%">
                                <thead>
                                <tr>
                                    <th style="width: 8%">ID</th>
                                    <th style="width: 13%">Status</th>
                                    <th style="width: 20%">Date Create</th>
                                    <th style="width: 25%">Source</th>
                                    <th style="width: 25%">Destination</th>
                                    <th style="width: 9%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for r in receive %}
                                    <tr>
                                        <td>{{ r.id }}</td>
                                        <td>{{ r.status }}</td>
                                        <td>{{ r.date_create }}</td>
                                        <td>{{ r.source }}</td>
                                        <td>{{ r.destination }}</td>
                                        <td><span class="text-green"><i class="fas fa-eye"></i> <a href="{{ path(route_edit, { 'id': r.id }) }}" class="text-underline text-green">View</a></span></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- END CONTENT -->
{% endblock %}
{% block js %}
    <script>
        jQuery(document).ready(function($) {
            $('.table-v1 table[data-data-table=true]').DataTable({
                "bProcessing": true,
                "bServerSide": false,
                //"sAjaxSource": path,
                "iDisplayLength": 10,
                "bInfo": false,
                // "bSort" : false,
                // "bLengthChange": false,
                // "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "<span class=\"prev-icon\"><i class=\"fas fa-chevron-left\"></i></span>",
                        "sNext": "<span class=\"next-icon\"><i class=\"fas fa-chevron-right\"></i></span>"
                    }
                },
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [5] },
                ],
                "aaSorting": [[0,'desc']]
            });

            var html = '<button type="submit" class="btn btn-primary btn-v1" form="form--counting" value="Submit">Submit</button>'
            $('table-v1').each(function() {
                if ($(this).data(has_submit) != true) {
                    return true;
                }

                $(this).find('.btn-container').html(html);
            });

            $('a[data-toggle="pill"]').on('shown.bs.tab', function(e) {
                if ($.fn.dataTable.tables(true).length > 1) {
                    return;
                }
                $.fn.dataTable.tables({ visible: true, api: true })
                    .columns.adjust();
            });
        });
    </script>
{% endblock %}