{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}
{% block content %}
    <div class="page-content">
        <form method="post" class="form-horizontal">
            <div class="row" style="width: 100%;">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h2 class="form-section">{{ list_title }}</h2>
                    <a href="{{ path('gist_inventory_menu_index') }}">Return to Inventory Menu</a>
                    <br>
                    <br>
                    <div class="tabbable tabbable-custom tabbable-full-width">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_list" data-toggle="tab">
                                    Damaged Items List </a>
                            </li>
                            <li>
                                <a href="#tab_sent" data-toggle="tab">
                                    To Return </a>
                            </li>
                            <li>
                                <a href="#tab_receive" data-toggle="tab">
                                    To Receive </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_list">
                                <a href="{{ path('gist_inv_damaged_items_add_entries_form') }}" class="btn green">Add New</a>
                                <a href="#summary_modal" class="btn blue" data-toggle="modal">View Summary</a>
                                <table class="table table-striped table-bordered table-hover" id="dmg_list_table">
                                    <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Date Create</th>
                                        <th>Created by</th>
                                        <th>Status</th>
                                        <th style="width: 165px"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in dmg_stocks|default('') %}
                                        <tr>
                                            <td>{{ s.product_name }}</td>
                                            <td>{{ s.quantity }}</td>
                                            <td>{{ s.date_create }}</td>
                                            <td>{{ s.user_create }}</td>
                                            <td>{{ s.statusFMTD }}</td>
                                            {% if s.status == 'damaged' %}
                                                <td><a href="{{ path('gist_inv_damaged_items_add_return_form', { 'ids': s.id }) }}" class="btn default btn-xs blue-madison"><i class="fa fa-edit"></i> Return</a></td>
                                            {% elseif s.status == 'for return' %}
                                                <td><a href="{{ path('gist_inv_damaged_items_receive_return_form', { 'id': s.parent_id }) }}" class="btn default btn-xs green"><i class="fa fa-eye"></i> View</a></td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_sent">
                                <table class="table table-striped table-bordered table-hover" id="sent_table">
                                    <thead>
                                    <tr>
                                        <th>Date Create</th>
                                        <th>Destination</th>
                                        <th>Status</th>
                                        <th style="width: 165px"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in sent %}
                                        <tr>
                                            <td>{{ s.date_create }}</td>
                                            <td>{{ s.destination }}</td>
                                            <td>{{ s.status }}</td>
                                            <td><a href="{{ path('gist_inv_damaged_items_receive_return_form', { 'id': s.id }) }}" class="btn default btn-xs green"><i class="fa fa-eye"></i> View</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_receive">
                                <table class="table table-striped table-bordered table-hover" id="receive_table">
                                    <thead>
                                    <tr>
                                        <th>Date Create</th>
                                        <th>Source</th>
                                        <th>Status</th>
                                        <th style="width: 165px"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in receive %}
                                        <tr>
                                            <td>{{ r.date_create }}</td>
                                            <td>{{ r.source }}</td>
                                            <td>{{ r.status }}</td>
                                            <td><a href="{{ path('gist_inv_damaged_items_receive_return_form', { 'id': r.id }) }}" class="btn default btn-xs green"><i class="fa fa-eye"></i> View</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </form>
    </div>
    <div id="summary_modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h2 class="modal-title">Damaged Items Summary</h2>
                </div>
                <div class="modal-body" style="">
                    <form id="entry-form">
                        <div class="row form-horizontal form">
                            <div class="form-body">
                                <table class="table table-striped table-bordered table-hover" id="summary_table">
                                    <thead>
                                    <tr>
                                        <th style="width: 140px">Item Code</th>
                                        <th style="width: 140px">Barcode</th>
                                        <th style="width: 180px">Name</th>
                                        <th style="width: 80px">Quantity</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in summ %}
                                        <tr>
                                            <td>{{ s.item_code }}</td>
                                            <td>{{ s.barcode }}</td>
                                            <td>{{ s.item_name }}</td>
                                            <td>{{ s.quantity }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                    <button type="button" data-dismiss="modal" class="btn default">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function() {
            path = "{{ path('gist_inv_damaged_items_summary_ajax_grid') }}";

            var summTable;
            summTable = $('#summary_table').dataTable({
                "bProcessing": true,
                "bServerSide": false,
                //"sAjaxSource": path,
                "iDisplayLength": 5,
                "bLengthChange": false,
                "bInfo": false,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [3] },
                ]
            });


            var sent_dTable;
            sent_dTable = $('#sent_table').dataTable({
                "bProcessing": true,
                "bServerSide": false,
                "iDisplayLength": 10,
                "bFilter" : false,
                "bInfo" : false,
                "bLengthChange": false,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aaSorting": [[ 0, "desc" ]],
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [{{ grid_cols|length - 1}}] },
                ]
            });

            dmg_list_table = $('#dmg_list_table').dataTable({
                "bProcessing": true,
                "bServerSide": false,
                "iDisplayLength": 10,
                "bFilter" : false,
                "bInfo" : false,
                "bLengthChange": false,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aaSorting": [[ 2, "desc" ]],
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [{{ grid_cols|length - 1}}] },
                ]
            });

            receive_dTable = $('#receive_table').dataTable({
                "bProcessing": true,
                "bServerSide": false,
                "iDisplayLength": 10,
                "bFilter" : false,
                "bInfo" : false,
                "bLengthChange": false,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aaSorting": [[ 0, "desc" ]],
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [{{ grid_cols|length - 1}}] },
                ]
            });
        });
    </script>
{% endblock %}