{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form %}

{% block content %}
<div class="page-content">
	<form method="post" class="form-horizontal">
		<div class="row" style="width: 100%;">
			<div class="col-md-1"></div>
        <div class="col-md-10">
        	<h2 class="form-section">Details for Transaction {{object.getTransDisplayId|default('')}}</h2>
            {% if object.hasParent|default(false) %}
                <h4>Reference Transaction: <a href="{{ path('gist_pos_reports_edit_form', { 'id': object.getReferenceTransaction.getID|default('') }) }}" style="text-decoration: none;">{{object.getReferenceTransaction.getTransDisplayId|default('')}}</a></h4>
            {% endif %}
				<br>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form method="post" class="form-horizontal">
                        <div class="form-body">
                            <h4 class="form-section">Information</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.group_text('Receipt Number', 'receipt_number', object.getTransDisplayId|default(''), 4, 5, true) }}
                                    {{ form.group_text('Date', 'date', object.getDateCreateFormattedPOS|default(''), 4, 5, true) }}
                                    {{ form.group_text('Cosnultant', 'consultant', customer_creator|default(''), 4, 5, true) }}
                                    {{ form.group_text('Location', 'location', x|default('Default Location'), 4, 5, true) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.group_text('Customer Name', 'customer', customer.getNameFormatted|default(''), 4, 5, true) }}
                                    {{ form.group_text('Email', 'email', customer.getCEmailAddress|default(''), 4, 5, true) }}
                                    {{ form.group_text('Contact No', 'contact_no', customer.getMobileNumber|default(''), 4, 5, true) }}
                                    {{ form.group_text('Address', 'address', customer.getAddress1|default(''), 4, 5, true) }}
                                    {{ form.group_text('Birthdate', 'birthdate', customer.getBirthdate|default(''), 4, 5, true) }}
                                </div>
                            </div>                           
                            <h4 class="form-section">Items</h4>
                            <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;" id="list_table">
                                <thead>
                                    <tr>
                                        {% if object.getTransactionMode|default('') == 'Deposit' or object.getReferenceTransaction.getTransactionMode|default('') == 'Deposit' %}
                                            <th width="10%">Reference</th>
                                        {% endif %}
                                        <th width="10%">Barcode</th>
                                        <th width="30%">Item</th>
                                        <th width="5%">Qty</th>
                                        <th width="10%">Amount</th>
                                        <th width="10%">Discount Type</th>
                                        <th width="10%">Discount Value</th>
                                        <th width="10%">Adjusted Price</th>
                                    </tr>
                                </thead>
                                <tbody id="items_given_tbody">
                                	{% if object.hasParent and not object.hasItems and object.getChildType != 'Deposit' %}
										{% for i in object.getReferenceTransaction.getItems|default('') %}
											<tr>
                                                {% if object.getTransactionMode|default('') == 'Deposit' or object.getReferenceTransaction.getTransactionMode|default('') == 'Deposit' %}
                                                    {% if i.getItemIssuedOn|default(null) is not null %}
                                                        <td style="text-align: center;"><a href="{{ path('gist_pos_reports_edit_form', { 'id': i.getItemIssuedOn.getID|default('0') }) }}" class="btn default blue-madison" data-toggle="tooltip" data-placement="left" title="View" style="width: 100%;">{{i.getItemIssuedOn.getTransDisplayId|default('')}}</a></td>
                                                    {% else %}
                                                        <td style="text-align: center; vertical-align: middle;"><i>Not yet issued</i></td>
                                                    {% endif %}
                                                {% endif %}
                                                <td><input type="text" name="barcode[]" value="{{i.getBarcode|default('')}}" class="form-control barcode" readonly="true"></td>
		                                        <td><input type="text" name="item_name[]" value="{{i.getName|default('')}}" class="form-control item_name" readonly="true"></td>
		                                        <td><input type="text" class="form-control" readonly="true" name="qty" value="1"></td>
                                                <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getOrigPrice|number_format(2, '.', ',')|default('')}}"  readonly="true"></td>
		                                        <td><input type="text" name="x" class="form-control" value="{{i.getDiscountTypeFormatted2|default('')}}"  readonly="true"></td>
		                                        <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getDiscountValue|number_format(0, '.', ',')|default('')}}"  readonly="true"></td>
		                                        <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getAdjustedPrice|number_format(2, '.', ',')|default('')}}"  readonly="true"></td>
	                                      	</tr>
										{% endfor %}
									{% elseif object.hasItems %}
	                                    {% for i in object.getItems|default('') %}
	                                      	<tr>
                                                {% if object.getTransactionMode|default('') == 'Deposit' or object.getReferenceTransaction.getTransactionMode|default('') == 'Deposit' %}
                                                    {% if i.getItemIssuedOn|default(null) is not null %}
                                                        <td style="text-align: center;"><a href="{{ path('gist_pos_reports_edit_form', { 'id': i.getItemIssuedOn.getID|default('0') }) }}" class="btn default blue-madison" data-toggle="tooltip" data-placement="left" title="View" style="width: 100%;">{{i.getItemIssuedOn.getTransDisplayId|default('')}}</a></td>
                                                    {% else %}
                                                        <td style="text-align: center; vertical-align: middle;"><i>Not yet issued</i></td>
                                                    {% endif %}
                                                {% endif %}
		                                        <td><input type="text" name="barcode[]" value="{{i.getBarcode|default('')}}" class="form-control barcode" readonly="true"></td>
                                                <td><input type="text" name="item_name[]" value="{{i.getName|default('')}}" class="form-control item_name" readonly="true"></td>
                                                <td><input type="text" class="form-control" readonly="true" name="qty" value="1"></td>
                                                <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getOrigPrice|number_format(2, '.', ',')|default('')}}"  readonly="true"></td>
                                                <td><input type="text" name="x" class="form-control" value="{{i.getDiscountTypeFormatted2|default('')}}"  readonly="true"></td>
                                                <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getDiscountValue|number_format(0, '.', ',')|default('')}}"  readonly="true"></td>
                                                <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getAdjustedPrice|number_format(2, '.', ',')|default('')}}"  readonly="true"></td>
	                                      	</tr>
	                                    {% endfor %}
                                    {% elseif not object.hasItems and object.getChildType == 'Deposit' %}
                                        {% for i in object.getChildTransaction.getItems|default('') %}
                                            <tr>
                                                {% if object.getTransactionMode|default('') == 'Deposit' or object.getReferenceTransaction.getTransactionMode|default('') == 'Deposit' %}
                                                    {% if i.getItemIssuedOn|default(null) is not null %}
                                                        <td style="text-align: center;"><a href="{{ path('gist_pos_reports_edit_form', { 'id': i.getItemIssuedOn.getID|default('0') }) }}" class="btn default blue-madison" data-toggle="tooltip" data-placement="left" title="View" style="width: 100%;">{{i.getItemIssuedOn.getTransDisplayId|default('')}}</a></td>
                                                    {% else %}
                                                        <td style="text-align: center; vertical-align: middle;"><i>Not yet issued</i></td>
                                                    {% endif %}
                                                {% endif %}
                                                <td><input type="text" name="barcode[]" value="{{i.getBarcode|default('')}}" class="form-control barcode" readonly="true"></td>
                                                <td><input type="text" name="item_name[]" value="{{i.getName|default('')}}" class="form-control item_name" readonly="true"></td>
                                                <td><input type="text" class="form-control" readonly="true" name="qty" value="1"></td>
                                                <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getOrigPrice|number_format(2, '.', ',')|default('')}}"  readonly="true"></td>
                                                <td><input type="text" name="x" class="form-control" value="{{i.getDiscountTypeFormatted2|default('')}}"  readonly="true"></td>
                                                <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getDiscountValue|number_format(0, '.', ',')|default('')}}"  readonly="true"></td>
                                                <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getAdjustedPrice|number_format(2, '.', ',')|default('')}}"  readonly="true"></td>
                                            </tr>
                                        {% endfor %}
	                                 {% endif %}
                                </tbody>
                            </table>
                            {% if object.getChildType != 'Deposit' and object.getTransactionMode != 'upsell' %}
                                <div class="row" style="margin-top: 30px;">
                                    <div class="col-md-8">
                                        <table class="table table-striped table-bordered table-hover" id="list_table">
                                            <thead>
                                                <tr>
                                                    {% if object.getTransactionMode|default('') == 'Deposit' or object.getReferenceTransaction.getTransactionMode|default('') == 'Deposit' %}
                                                        <th width="15%">Reference</th>
                                                    {% endif %}
                                                    <th width="15%">Method</th>
                                                    <th width="15%">Amount</th>
                                                    <th width="20%">Terms</th>
                                                    <th width="15%">Interest</th>
                                                    <th width="20%">Bank</th>
                                                </tr>
                                            </thead>
                                            <tbody id="items_given_tbody">
                                                {% if object.hasParent and not object.hasPayments %}
                                                    {% for i in object.getReferenceTransaction.getPayments|default('') %}
                                                        <tr>
                                                            {% if object.getTransactionMode|default('') == 'Deposit' or object.getReferenceTransaction.getTransactionMode|default('') == 'Deposit' %}
                                                                {% if i.getPaymentIssuedOn|default(null) is not null %}
                                                                    <td style="text-align: center;"><a href="{{ path('gist_pos_reports_edit_form', { 'id': i.getPaymentIssuedOn.getID|default('0') }) }}" class="btn default blue-madison" data-toggle="tooltip" data-placement="left" title="View" style="width: 100%;">{{i.getPaymentIssuedOn.getTransDisplayId|default('')}}</a></td>
                                                                {% else %}
                                                                    <td style="text-align: center;"></td>
                                                                {% endif %}
                                                            {% endif %}
                                                            <td><input type="text" name="rate_name[]" value="{{i.getType|default('')}}" class="form-control rate_name" readonly="true"></td>
                                                            <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getAmount|number_format(2, '.', ',')|default('')}}"  readonly="true"></td>
                                                            <td><input type="text" style="text-align: left !important;" name="x" class="form-control terms" value="{{i.getCardTerms|default('')}}"  readonly="true"></td>
                                                            <td><input type="text" style="text-align: left !important;" name="x" class="form-control terms" value="{{i.getInterest|default('')}}"  readonly="true"></td>
                                                            <td><input type="text" style="text-align: left !important;" name="x" class="form-control terms" value="{{i.getBank|default('')}}"  readonly="true"></td>
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    {% for i in object.getPayments|default('') %}
                                                        <tr>
                                                            {% if object.getTransactionMode|default('') == 'Deposit' or object.getReferenceTransaction.getTransactionMode|default('') == 'Deposit' %}
                                                                {% if i.getPaymentIssuedOn|default(null) is not null %}
                                                                    <td style="text-align: center;"><a href="{{ path('gist_pos_reports_edit_form', { 'id': i.getPaymentIssuedOn.getID|default('0') }) }}" class="btn default blue-madison" data-toggle="tooltip" data-placement="left" title="View" style="width: 100%;">{{i.getPaymentIssuedOn.getTransDisplayId|default('')}}</a></td>
                                                                {% else %}
                                                                    <td style="text-align: center;"></td>
                                                                {% endif %}
                                                            {% endif %}
                                                            <td><input type="text" name="rate_name[]" value="{{i.getType|default('')}}" class="form-control rate_name" readonly="true"></td>
                                                            <td><input type="text" style="text-align: right !important;" name="x" class="form-control qty" value="{{i.getAmount|number_format(2, '.', ',')|default('')}}"  readonly="true"></td>
                                                            <td><input type="text" style="text-align: left !important;" name="x" class="form-control terms" value="{{i.getCardTerms|default('')}}"  readonly="true"></td>
                                                            <td><input type="text" style="text-align: left !important;" name="x" class="form-control terms" value="{{i.getInterest|default('')}}"  readonly="true"></td>
                                                            <td><input type="text" style="text-align: left !important;" name="x" class="form-control terms" value="{{i.getBank|default('')}}"  readonly="true"></td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                <tr>
                                                    {% if object.getTransactionMode|default('') == 'Deposit' or object.getReferenceTransaction.getTransactionMode|default('') == 'Deposit' %}
                                                        <td colspan="6"><b class="pull-right">Total Payments</b><input type="text" name="x" class="form-control qty" style="text-align: right !important;" value="{{object.getTotalPayments|number_format(2, '.', ',')|default('')}}"  readonly="true"></td>
                                                    {% else %}
                                                        <td colspan="5"><b class="pull-right">Total Payments</b><input type="text" name="x" class="form-control qty" style="text-align: right !important;" value="{{object.getTotalPayments|number_format(2, '.', ',')|default('')}}"  readonly="true"></td>
                                                    {% endif %}
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-4">
                                        {% if object.getTransactionMode|default('none') == 'refund' %}
                                            {{ form.group_text('Sub Total', 'sub_total', object.getTransactionTotal|number_format(2, '.', ',')|default(''), 4, 5, true) }}
                                        {% else %}
                                            {{ form.group_text('Sub Total', 'sub_total', object.getCartOrigTotal|number_format(2, '.', ',')|default(''), 4, 5, true) }}
                                        {% endif %}
                                        {{ form.group_text('Discount', 'discount', object.getDiscountAmount|number_format(2, '.', ',')|default(''), 4, 5, true) }}
                                        {{ form.group_text('Bulk Discount', 'bulk_discount', object.getDiscountAmount|number_format(2, '.', ',')|default(''), 4, 5, true) }}
                                        {{ form.group_text('VAT', 'vat', object.getFinalVAT|number_format(2, '.', ',')|default(''), 4, 5, true) }}
                                        {{ form.group_text('Grand Total', 'grand_total', object.getTransactionTotal|number_format(2, '.', ',')|default(''), 4, 5, true) }}
                                        <hr style="border-top: dotted 2px;" />
                                        {{ form.group_text('Change', 'change', object.getChange|number_format(2, '.', ',')|default(''), 4, 5, true) }}
                                        {{ form.group_text('Balance', 'balance', object.getBalanceDisplay|number_format(2, '.', ',')|default(''), 4, 5, true) }}
                                        <hr style="border-top: dotted 2px;" />
                                    </div>
                                </div>
                                <h4 class="form-section">Splits</h4>
                                <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;" id="list_table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Consultant</th>
                                            <th width="20%">Sales Commission Rate</th>
                                            <th width="20%">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody id="items_given_tbody">
                                        {% if object.getSplits|default('') != '' %}
                                            {% for i in object.getSplits|default('') %}
                                                <tr>
                                                    <td><input type="text" name="rate_name[]" value="{{i.getConsultant.getDisplayName|default('N/A')}}" class="form-control rate_name" readonly="true"></td>
                                                    <td>
                                                        <div class="input-group">
                                                            <input type="number" max="100" step="0.01" min="1" class="form-control percent_allocation" name="percent_allocation[]" placeholder="" aria-describedby="sizing-addon1" value="{{i.getPercent|default('')}}" readonly="true" style="text-align: right;">
                                                            <span class="input-group-addon" id="sizing-addon1">%</span>
                                                        </div>
                                                    </td>
                                                    <td><input type="text" name="x" class="form-control" value="{{i.getAmount|number_format(2, '.', ',')|default('')}}"  readonly="true" style="text-align: right;"></td>
                                                </tr>
                                            {% endfor %}


                                        {% else %}
                                            {% if object.getTransactionMode|default('none') == 'quotation' or object.getTransactionMode|default('none') == 'frozen' %}
                                                <tr>
                                                    <td colspan="3" style="text-align: center;"><h4>Transaction must be completed or in normal mode to perform split</h4></td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="3" style="text-align: center;"><h4>No split added for this transaction</h4></td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}

                                    </tbody>
                                </table>
                                {% if object.getTransactionMode|default('none') != 'refund' %}
                                    <h4 class="form-section">Percent of Sale</h4>
                                    <p style="font-size: 20px;">This transaction is {{object.getPercentOfSale|default('')}} of the total SRP</p>
                                {% endif %}
                            {% else %}
                                <div class="row" style="margin-top: 30px;">
                                    <div class="col-md-8">
                                        <table class="table table-striped table-bordered table-hover" id="list_table">
                                            <thead>
                                            <tr>
                                                {% if object.getTransactionMode|default('') == 'Deposit' or object.getReferenceTransaction.getTransactionMode|default('') == 'Deposit' %}
                                                    <th width="15%">Reference</th>
                                                {% endif %}
                                                <th width="15%">Method</th>
                                                <th width="15%">Amount</th>
                                                <th width="20%">Terms</th>
                                                <th width="15%">Interest</th>
                                                <th width="20%">Bank</th>
                                            </tr>
                                            </thead>
                                            <tbody id="items_given_tbody">
                                            <tr>
                                                <td colspan="5" style="text-align: center;"><h4>N/A</h4></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                                <h4 class="form-section">Splits</h4>
                                <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;" id="list_table">
                                    <thead>
                                    <tr>
                                        <th width="40%">Consultant</th>
                                        <th width="20%">Sales Commission Rate</th>
                                        <th width="20%">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody id="items_given_tbody">
                                        <tr>
                                            <td colspan="3" style="text-align: center;"><h4>Transaction must be completed or in normal mode to perform split</h4></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h4 class="form-section">Percent of Sale</h4>
                                <p style="font-size: 20px;">This transaction is {{object.getPercentOfSale|default('')}} of the total SRP</p>
                            {% endif %}
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-9">
                                {% if object.getTransactionMode == 'normal' or object.getTransactionMode == 'upsell' or object.getTransactionMode == 'Deposit' %}
                                <a href="{{ path('gist_pos_print_receipt', {'id': object.getID}) }}" target="_blank" class="btn default btn blue" title="Re-print Receipt"><i class="fa fa-print"></i> Re-print Receipt</a>
                                <a href="{{path('gist_pos_split_transaction_form', {'id':object.getID})}}" class="btn default btn blue" title="Split"><i class="fa fa-scissors"></i> Split</a>
                                {% endif %}
                                {% if object.getTransactionMode == 'Deposit' and not object.hasChild %}
                                <a href="{{ path('gist_pos_index_load', {'transaction_display_id':object.getTransDisplayId})}}" class="btn default btn blue"><i class="fa fa-shopping-cart"></i> Complete Transaction</a>
                                {% endif %}
                            	{% if object.getTransactionMode == 'quotation' and not object.hasChild %}
								<a href="{{ path('gist_pos_quote_to_sale', { 'id': object.getID }) }}" class="btn default btn blue"><i class="fa fa-arrow-circle-right"></i> Proceed to Sale</a>
								{% endif %}
                                {% if object.getTransactionMode == 'frozen' %}
                                <a href="{{ path('gist_pos_index_load', {'transaction_display_id':object.getTransDisplayId})}}" class="btn default btn blue"><i class="fa fa-shopping-cart"></i> Continue transaction</a>
                                <a href="{{ path('gist_pos_delete_transaction', { 'id': object.getID }) }}" class="btn default btn red" title="Delete"><i class="fa fa-times"></i> Delete</a>
                                {% endif %}
                                {% if (object.getExtraAmount != '0' and object.getExtraAmount != '') and object.getTransactionMode == 'normal' %}
                                <a href="{{ path('gist_pos_index_load_upsell', {'upsell_parent':object.getID})}}" class="btn default green"><i class="fa fa-chevron-circle-up"></i> Upsell</a>
                                {% endif %}
                                <a href="{{ path('gist_pos_reports') }}" class="btn default">Go Back</a>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
            
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</form>
</div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            var discount = "{{object.getTransactionTypeFormatted|default('')}}";
            $('#cgroup-bulk_discount').hide();
            $('#cgroup-discount').hide();
            //$('#cgroup-discounted_total').hide();
            if (discount == "Bulk Discount") {
                $('#cgroup-bulk_discount').show();
                //$('#cgroup-discounted_total').show();
            } else if(discount == 'Per-item Discount') {
                //$('#cgroup-discounted_total').show();
                $('#cgroup-discount').show();
            } else {
//                $('#cgroup-discount').show();
//                $('#cgroup-bulk_discount').show();
            }
        });
    </script>
{% endblock %}
