{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}
{% import "GistTemplateBundle::pos_form.html.twig" as pos_form_tools %}

{% block content %}
    <!-- CONTENT -->
    {#<form method="post" class="form-horizontal">#}
    <div class="row">
        <div class="col-12">
            <h2 class="page-title">Exchange/Refund</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills nav-pills-v1 mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a aria-controls="pills-search_transaction" aria-selected="false" class="nav-link active" data-toggle="pill" href="#pills-search_transaction" id="pills-search_transaction-tab" role="tab">Search Transaction</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <!-- EXCHANGE FUND FORMS -->
                <div aria-labelledby="pills-search_transaction-tab" class="tab-pane fade show active" id="pills-search_transaction" role="tabpanel">
                    {% include 'GistPOSBundle:Reports:refund_history.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {#</form>#}
    <!-- end -->
{% endblock %}
{% block js %}
    <script>
        function syncUsers()
        {
            var route = "{{ path('gist_pos_settings_sync_users')|escape('js') }}";
            $.getJSON(route, function(json){
                $.each(json, function(i, x) {
                    swal({
                            title: "Users Data Updated!",
                            text: "The page will now reload",
                            type: "success",
                            confirmButtonColor: "green",
                            confirmButtonText: "Okay",
                        },
                        function(){
                            location.reload();

                        });

                });
            });
        }

        $(document).ready(function(){
            var dTable;
            dTable = $('#list_table').dataTable({
                "bProcessing": true,
                "bLengthChange": false,
                "bFilter":false,
                "iDeferLoading": 0,
                "bInfo":false,
                "bServerSide": true,
                "sAjaxSource": "{{ path('gist_pos_reports_refund_grid_ajax') }}",
                "iDisplayLength": 8,
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [2,4,{{ grid_cols|length - 1}}] },
                ],
                "bAutoWidth": false ,
                "aoColumns" : [
                    { "sWidth": '5%' },
                    { "sWidth": '15%' },
                    { "sWidth": '15%' },
                    { "sWidth": '15%' },
                    { "sWidth": '15%' },
                    { "sWidth": '10%' }
                ],
                "aaSorting" : [[0, 'desc']]
            });

            $('#list_table_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
            $('#list_table_wrapper .dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
            $('#list_table_wrapper .dataTables_length select').select2(); // initialize select2 dropdown

            $(document).on("click",".sync_users", function(e){
                swal({
                        title: "Proceed with action?",
                        text: "This will update all user records on this machine",
                        imageUrl: '{{ asset('bundles/gisttemplate/assets/global/img/warning.png') }}',
                        imageSize: '100x100',
                        showConfirmButton: true,
                        showCancelButton: true
                    },
                    function(){
                        syncUsers();
                    });
            });

            $('#daterange').daterangepicker(
                {
                    ranges: {
                        'Today': [new Date(), moment().add(1, 'days')],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), new Date()],
                        'Last 30 Days': [moment().subtract(29, 'days'), new Date()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    opens: 'left',
                    format: 'MM/DD/YYYY',
                },
                function(start, end) {
                    $('#daterange input').val(start.format('MM/DD/YYYY') + '   -   ' + end.format('MM/DD/YYYY'));
                    $('#cform-date_from').val(start.format('YYYYMMDD'));
                    $('#cform-date_to').val(end.format('YYYYMMDD'));
                }
            );

            $('#clear_filter_button').click(function (){
                $('#cform-receipt_number').val('');
                $('#cform-transaction_mode').val([]);
            });

            $('#cform-customer_id').attr('maxlength','11');
            $('#cform-customer_id').on('input',function(e){
                var foo = $(this).val().split(" ").join("");
                if (foo.length > 0) {
                    foo = foo.match(new RegExp('.{1,3}', 'g')).join(" ");
                }
                $(this).val(foo);
            });

            $('#filter_button').click(function (){

                var date_to = $('#cform-date_to').val();
                var date_from = $('#cform-date_from').val();
                var receipt_number = $('#cform-receipt_number').val();
                var mode = $('#cform-transaction_mode').val();

                var cust_name = $('#cform-customer_name').val();
                var cust_id = $('#cform-customer_id').val();
                var cust_number = $('#cform-customer_number').val();

                var pathx = "{{ path('gist_pos_reports_refund_grid_ajax', {

                    'receipt_number' : 'RECEIPT_NUMBER',
                    'date_from' : 'DATE_FROM',
                    'date_to' : 'DATE_TO',
                    'mode' : 'MODE',
                    'cust_name' : 'CUST_NAME',
                    'cust_id' : 'CUST_ID',
                    'cust_number' : 'CUST_NUMBER'

                }) }}";

                if (receipt_number == '') {
                    receipt_number = null;
                }

                if (mode == '') {
                    mode = null;
                }

                if (cust_name == '') {
                    cust_name = null;
                }

                if (cust_id == '') {
                    cust_id = null;
                }

                if (cust_number == '') {
                    cust_number = null;
                }

                pathx = pathx.replace('RECEIPT_NUMBER', receipt_number).replace('DATE_FROM', date_from).replace('DATE_TO', date_to).replace('MODE', mode).replace('CUST_NAME', cust_name).replace('CUST_ID', cust_id).replace('CUST_NUMBER', cust_number);
                dTable.fnReloadAjax(pathx);
            });

            var mode = "{{mode|default('')}}";
            if (mode != '') {
                $('#filter_button').trigger('click');
            }
        });
    </script>
{% endblock %}