<div class="row">
    <div class="col-md-8">
        <!-- BEGIN FORM-->
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <a href="javascript:void(0)" class="btn blue sync_products">Update Products</a>
                    <br>
                    <table class="table table-striped table-bordered table-hover" style="margin-top: 10px; width: 100%;">
                        <thead>
                        <tr>
                            <th width="10%">ID</th>
                            <th width="20%">Brand</th>
                            <th width="10%">Item Code</th>
                            <th width="10%">Bar Code</th>
                            <th width="50%">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in products %}
                            <tr>
                                <td><p>{{p.getID}}</p></td>
                                <td><p>{{p.getBrand}}</p></td>
                                <td><p>{{p.getItemCode}}</p></td>
                                <td><p>{{p.getBarCode}}</p></td>
                                <td><p>{{p.getName}}</p></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- BEGIN FORM-->
        <div class="form-body">

        </div>
    </div>
</div>